<div class='video-thumb-box'>
  <strong class='center'><%= link_to "#{this_video.title.slice(0,25)}", video_url(this_video) %></strong>
  <br>
  <div class='image-box'>
    <img src='http://img.youtube.com/vi/<%= this_video.youtube_id %>/1.jpg'>
  </div>
</div>