<div class="centerbox">
  <p>You're breaking down walls between languages and cultures.</p>
  <p>You deserve credit!</p>
  <br>
  <p>Here are three ways to sign in:</p>
  <ol>
    <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
    <li>Sign in with Facebook</li>
    <li>Create your own user profile</li>
  </ol>
</div>