<div class="centerbox center">

  <h2>Hello there!</h2>
  <br>
  <p>Heyu is a free service for teachers and students at educational institutions.</p>
  <p>We're just starting out, so you may not see your school listed below.  In that case, please <a href="mailto:hello@heyuvideo.com?Subject=Getting%20started%20with%20%Heyu&body=Hey,%20set%20me%20up">contact us</a> and we'll get you set up in no time. </p>
  <br>
  <br>
  
  <%= form_tag("/steptwo", :method => 'get') do %>

    <div class="column">

      <div class="field">
        <label for="role">I'm a</label>
        <select name="role">
          <option></option>
          <option>teacher</option>
          <option>student</option>
        </select>
      </div>

      <div class="field">
        <label for="school">at</label>
        <select name="school">
          <option></option>
          <option>University of Chicago</option>
          <option>Northwestern University</option>
          <option>City Charter High School, Pittsburgh</option>
        </select>
      </div>

      <div class="field">
        <label for="firstname">First name</label>
        <input type="text" name="firstname" %>
      </div>
      <div class="field">
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" %>
      </div>
      <br>

    </div>

  <div class="actions"><input type="submit" class="btn btn-large btn-primary rounded" name="next" value="Next"></div>

  <% end %>
  
  </div>

</div>
