<div class="centerbox center">
  <h2>Add some color?</h2>

  <br>

  <div class="column">

    <div class="field">
      <label for="bio"><p>"About me." Share a few sentences about yourself.</p></label>
      <textarea style="height: 100px;" id="bio"></textarea>
   
    <br>
    <br>
    
    <div class="btn btn-large btn-primary rounded" id="done">Done</div>

  </div>

</div>