<div class="centerbox center" style="width: 400px;">
<br>

  <h2>Welcome <%= @firstname %>!</h2>

    <br>

    <h3><a id='teach-or-study-toggle'><strong>Teach or study at an educational institution?</strong></a></h3>

    <br>

    <div id='teach-or-study-form' style="width: 320px; margin-left: auto; margin-right: auto;">

    <br>

      <div class="field">
        <label for="role">I'm a</label>
        <select name="role">
          <option></option>
          <option>teacher</option>
          <option>student</option>
        </select>
      </div>

      <div class="field">
        <label for="school">at</label>
        <select name="school">
          <option></option>
          <%= @schools.each do |s| %>
            <option><%= s.name %></option>
          <% end %>
        </select>
      </div>

    <h3><strong>Don't see your school? <a href="mailto:asoble@gmail.com?Subject=Add%20my%20school&body=Hi,%20my%20name%20is%20_____%20and%20I%20(teach%20/%20study)%20at%20______.">Contact us</a>. </strong></h3>

    <br>

    </div>

  <br>

  <div class="column">

    <div class="field">
      <label for="bio"><p>"About me..." Share a few sentences about yourself!</p></label>
      <textarea style="height: 100px;" id="bio"></textarea>
   
    <br>
    <br>
    
    <div class="btn btn-large btn-primary rounded" id="done">Submit</div>

  </div>

</div>