<% translated_video_languages.each do |t| %>
                  <li style='float: left; width: 160px;'><a class="language-index-option" id='<%= t %>' style='text-align: left;'><%= t %></a></li> 
<% end %>