<li><a class='language-index-option' id='English'>English</a></li> 
<li><a class='language-index-option' id='Chinese'>Chinese</a></li>
<li><a class='language-index-option' id='Korean'>Korean</a></li> 
<li><a class='language-index-option' id='Japanese'>Japanese</a></li> 
<li><a class='language-index-option' id='Spanish'>Spanish</a></li> 
<li><a class='language-index-option' id='Portuguese'>Portuguese</a></li> 
<li><a class='language-index-option' id='French'>French</a></li> 
<li><a class='language-index-option' id='German'>German</a></li> 
<li><a class='language-index-option' id='Italian'>Italian</a></li> 
<li><a class='language-index-option' id='Russian'>Russian</a></li> 
<li><a class='language-index-option' id='Norwegian'>Norwegian</a></li> 
<li><a class='language-index-option' id='Hebrew'>Hebrew</a></li> 
<li><a class='language-index-option' id='Arabic'>Arabic</a></li> 
<li><a class='language-index-option' id='Persian'>Persian</a></li> 
<li><a class='language-index-option' id='Hindi'>Hindi</a></li>