        <li><a class="language-index-option" id="English">English</a></li>
        <li><a class="language-index-option" id="Spanish">Spanish</a></li>
        <li><a class="language-index-option" id="Chinese">Chinese</a></li>
        <li><a class="language-index-option" id="French">French</a></li>
        <li><a class="language-index-option" id="Norwegian">Norwegian</a></li>
        <li><a class="language-index-option" id="Hindi">Hindi</a></li>
        <li><a class="language-index-option" id="Korean">Korean</a></li>
