<% requested_video_languages.each do |r| %>
              <li style='float: left; width: 160px;'><a href='#' class="language-request-option" id='<%= r %>' style='text-align: left;'><%= r %></a></li> 
<% end %>
