          <% translated_lines.each do |l| %>
            <div class="short-line rounded" data-time=<%= l.time %> style="float: left; width: 420px;">
              <p style="width: 180px; margin-bottom: 4px; margin-top: 4px; float: left;" class="rounded">
                <%= l.lang1 %>
              </p>
              <p style="width: 180px; margin-bottom: 4px; margin-top: 4px; float: right;" class="rounded">
              <% if l.lang2.present? %>
                <p><%= l.lang2 %></p>
              <% elsif Translation.where(:line_id => l.id).present? %>
                <p><%= Translation.where(:line_id => l.id).first.text %></p>
              <% end %>
              </p>
            </div>
          <% end %>