
  vocabQuiz = ->

    keyword = word_array[time]
    keyword = remove_accents(keyword)
    console.log keyword

    n = 0
    $(document).keypress( (e) ->
      if String.fromCharCode(e.keyCode) == keyword.charAt(n)
        $('#answer-box').append("#{keyword.charAt(n)}")
        # lyrics_html = $("##{id}").html()
        # lyrics_with_blanks = lyrics_html.replace("#{random_word}", "____")
        # $("##{id}").html(lyrics_with_blanks)
        n += 1
        console.log n
        console.log keyword.length
        if n == keyword.length
          q += 1
          $('#answer-box').html("")
          window.player.playVideo()
          $('.lyrics-box.quizframe').addClass('success')
          window.answered = true
          window.slid_down = false
          $("#score-text").html("<h2>#{q}/#{total}</h2>")
      )  
        delayedStop = ->
          window.keep_going = false

        duration = 1000 * parseInt(this_line.attr('data-duration'))
        window.duration = duration
        
        unless window.right_answer || isNaN(duration)
          window.setTimeout(delayedStop, duration)





  longVideoControls = ->

    left_boundary = Math.floor(window.time / 45) * 45
    right_boundary = left_boundary + 60

    $('#loop-slider').rangeSlider(
      step: 1
      bounds:
        min: left_boundary
        max: right_boundary
      defaultValues:
        min: window.time
        max: window.time + 4
      range:
        min: 1
        max: 12
      formatter: (val) -> 
        shortFormatTime(val)
      )

    # CHANGES TO THE PLAYBACK SLIDER (ORDER OF OPERATIONS MATTERS HERE v !!!)

    $('.end-label.playback-left-label').addClass('disabled')
    $('.end-label.playback-right-label').addClass('disabled')

    $('#playback-slider').off("valuesChanging").off("userValuesChanged")
    $('#playback-slider').rangeSlider("values", left_boundary, right_boundary)

    $('#playback-slider').children().eq(3).addClass('end-label').addClass('loop-range-label').html("#{shortFormatTime(left_boundary)}")
    $('#playback-slider').children().eq(4).addClass('end-label').addClass('loop-range-label').html("#{shortFormatTime(right_boundary)}")
    $('#playback-slider').children().eq(0).children().eq(1).attr('style','background-color: #0F82F5;')

    # BEHAVIOR FOR THE PLAYBACK SLIDER

    $('#playback-slider').on("valuesChanging", (e, data) ->
      start = data.values.min
      end = data.values.max
      player.seekTo(start)
      $('.end-label.loop-range-label.ui-rangeSlider-leftLabel').html("#{shortFormatTime(start)}")
      $('.end-label.loop-range-label.ui-rangeSlider-rightLabel').html("#{shortFormatTime(end)}")
      $('.inner-label.looping-left-label').html("#{shortFormatTime(start)}")
      $('.inner-label.looping-right-label').html("#{shortFormatTime(end)}")
    )

    $('#playback-slider').on("userValuesChanged", (e, data) ->
      start = data.values.min
      end = data.values.max

      $('#loop-slider').rangeSlider(
        bounds:
          min: start
          max: end
        )
      $('#loop-slider').rangeSlider("values", start, start + window.loop_length)
      $('.loop-handle-label.ui-rangeSlider-leftLabel').html("#{shortFormatTime(start)}")
      $('.loop-handle-label.ui-rangeSlider-rightLabel').html("#{shortFormatTime(start + window.loop_length)}")
    )  # BEHAVIOR FOR THE LOOP SLIDER: SHIFT LEFT / SHIFT RIGHT CONTROLS

    $('#loop-slider').on("userValuesChanged", (e, data) ->
      bounds = $('#loop-slider').rangeSlider("bounds")
      min = bounds.min
      max = bounds.max
      start = data.values.min
      end = data.values.max

      shiftRight = -> 
        console.log "shiftRight"
        video_duration = window.player.getDuration()
        if end == max and max < video_duration
          if max + 30 < video_duration
            $('.inner-label.looping-left-label').text(shortFormatTime(min + 30))
            $('.inner-label.looping-right-label').text(shortFormatTime(max + 30))
            $('#loop-slider').rangeSlider(
              bounds:
                min: min + 30
                max: max + 30
            ).rangeSlider("values", start, end)
            $('#playback-slider').rangeSlider("values", min + 30, max + 30)
            $('.ui-rangeSlider-leftLabel.loop-range-label').html("#{shortFormatTime(min + 30)}")
            $('.ui-rangeSlider-rightLabel.loop-range-label').html("#{shortFormatTime(max + 30)}")
          else
            $('.inner-label.looping-left-label').text(shortFormatTime(video_duration - 60))
            $('.inner-label.looping-right-label').text(shortFormatTime(video_duration))
            $('#loop-slider').rangeSlider(
              bounds:
                min: video_duration - 60
                max: video_duration
            ).rangeSlider("values", video_duration - 59, video_duration - 55)

      shiftLeft = -> 
        console.log "shiftLeft"
        if start == min and min > 0
          if min > 30
            $('.inner-label.looping-left-label').text(shortFormatTime(min - 30))
            $('.inner-label.looping-right-label').text(shortFormatTime(max - 30))
            $('#loop-slider').rangeSlider(
              bounds:
                min: min - 30
                max: max - 30
            ).rangeSlider("values", start, end)
            $('#playback-slider').rangeSlider("values", min - 30, max - 30)
            $('.ui-rangeSlider-leftLabel.loop-range-label').html("#{shortFormatTime(min - 30)}")
            $('.ui-rangeSlider-rightLabel.loop-range-label').html("#{shortFormatTime(max - 30)}")
          else
            $('.inner-label.looping-left-label').text(shortFormatTime(0))
            $('.inner-label.looping-right-label').text(shortFormatTime(60))
            $('#loop-slider').rangeSlider(
              bounds:
                min: 0
                max: 60
            ).rangeSlider("values", 55, 59)           

      waitForIt = (direction) -> 
        direction()
      if end == max
        window.setTimeout(waitForIt(shiftRight), 1000)
      if start == min
        window.setTimeout(waitForIt(shiftLeft), 1000)
      )

  # LOOP TOGGLE AND DIFFICULTY SETTINGS 

  $('.loop-toggle').livequery -> 
    $(this).click -> 
      if window.loop_length == false
        window.loop_length = 4
        window.section = window.time / window.loop_length
        loopingBehavior()
        $('#loop-on').html('turn off loops')
        $('#loop-on').attr('style','float: right;')

      else
        window.loop_length = false
        straightPlaybackBehavior()
        $('#loop-on').html('turn on loops')
        $('#loop-on').attr('style','float: left;')


.loop-toggle {
  float: left; 
  background-color: #DDDDDD; 
  width: 120px; 
  height: 24px;
  position: relative;

  bottom: 2px; 
  border-radius: 10px;
  margin-bottom: 6px; }

  #loop-on {
  margin-right: 0;
  margin-left: 0;}



      id = $('#editing-div').parent().attr('data-line-id')
      window.this_editing_time = $("[data-line-id=#{id}]:eq(0)").children(":first").children(":first")
      window.that_editing_time = $("[data-line-id=#{id}]:eq(1)").children(":first").children(":first")
      console.log "old start time: #{old_start_time}, old end time: #{old_end_time}"
      $('#slider').slider(
        if old_end_time > 5
          min: old_midpoint - 5
        else
          min: 0
        max: old_midpoint + 6
        step: 1
        values: [ old_start_time, old_end_time ]
        slide: (event, ui) ->
          window.new_start_time = ui.values[0]
          window.new_end_time = ui.values[1]
          window.this_editing_time.html("(#{formatted_start_time} to #{formatted_end_time})")
          window.that_editing_time.html("(#{formatted_start_time} to #{formatted_end_time})")
          window.first_handle.html("<p><small><small>#{formatted_start_time}</small></small></p>")
          window.second_handle.html("<p><small><small>#{formatted_end_time}</small></small></p>"))
      window.first_handle = $(".ui-slider-handle:eq(1)")
      window.first_handle.html("<p><small><small>#{formatTime(old_start_time)}</small></small></p>")
      window.second_handle = $(".ui-slider-handle:eq(2)")
      window.second_handle.html("<p><small><small>#{formatTime(old_end_time)}</small></small></p>")
      $('#editing-div').hide().slideDown('fast')
      window.editing_line = 'on'


                  <div class='tools-container'>
                    <div class='btn btn-primary btn-small rounded marginless watch-button'>repeat</div><div class='btn btn-warning btn-small rounded marginless help-button'>compare</div>
                    <br>
                    <div class='btn btn-info btn-small rounded marginless edit-button'>revise</div><div class='btn btn-success btn-small rounded marginless share-button'>share</div>
                    <br>
                    <small><small class='edit-duration'><strong>#{formatTime(time_in_seconds)} to #{formatTime(time_in_seconds + window.loop_length)}</strong></small></small>
                  </div>


<div class="row-fluid">
  <div class="span11 offset1">
    <div class="row-fluid">
      <div class="span12">
        <ul class="nav nav-pills">
          <div class="btn btn-info rounded">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><h3 style="color: white;">Show videos in...</h3></a>
              <ul class="dropdown-menu">
                <%= render :partial => 'videos/language_dropdown_options' %>
              </ul>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <% @latest_translated_videos.each do |v| %>
        <div class="video-thumb-box interp <%= v.lang1 %>">
          <strong class="center"><%= link_to "#{v.title.slice(0,32)}", video_url(v.id) %></strong>
          <br>
          <%= image_tag "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span11 offset1">
    <div class="row-fluid">
      <div class="span10 span">
        <ul class="nav nav-pills">
          <div class="btn btn-info rounded">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><h3 style="color: white;">Show requests for...</h3></a>
              <ul class="dropdown-menu">
              <%= render :partial => 'videos/request_dropdown_options' %>
              </ul>
            </li>
          </div>
        </ul>
      </div>
      <div class="span2 span">
        <div class="index-button" id="request-translation-button">
          <div class="button-text-wrapper">
            <p class="index-button-text">Request a<br> translation</p>
            <%= image_tag "youtube-logo.png", style: 'float: right;' %>
            <div class="controls">
              <input type="text" class="short-text-box new-video-input" id="new-video-request">
            </div>
            <p class="index-button-text tiny">Copy the URL from YouTube above.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span10">
        <div id="requested-videos">
          <% @top_requested_videos.each do |v| %>
            <div class="video-thumb-box request" data-lang-one=<%= v.lang1 %>>
              <strong class="center"><%= link_to "#{v.title.slice(0,38)}", video_url(v.id) %></strong>
              <br>
              <img src="http://img.youtube.com/vi/<%= v.youtube_id %>/1.jpg">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="footer">
  <div class="container">
    <ul class="nav nav-pills">
      <li><a class="page-language-option" id="english-page">English</a></li>
      <li><a class="page-language-option" id="spanish-page">Español</a></li>
      <li><a class="page-language-option" id="french-page">Français</a></li>
      <li><a class="page-language-option" id="portuguese-page">Português</a></li>
      <li><a class="page-language-option" id="korean-page">한국말</a></li>
      <li><a class="page-language-option" id="japanese-page">日本語</a></li>
      <li><a class="page-language-option" id="chinese-page">汉语</a></li>
      <li><a class="page-language-option" id="persian-page">فارسی</a></li>
      <li><a class="page-language-option" id="arabic-page">العربية</a></li>
      <li><a class="page-language-option" id="hebrew-page">עברית</a></li>
      <li><a class="page-language-option" id="hindi-page">हिंदी</a></li>
    </ul>
  </div>
</footer>


<<table style="border-collapse: separate; border-spacing: 15px 15px; margin: auto; width: 500px;" border="0">
  <tr>
    <td><strong>1.</strong> Hit the pin when the words start.</td>
  </tr>
  <tr>
    <td><div class="style52"><i class="icon-pushpin icon-2x icon-style52" style="right: 10px;"></i></div></td>
  </tr>
  <tr>
    <td><strong>2.</strong> When you hit the pin, the video will loop every 4 seconds.</td>
  </tr>
  <tr>                
    <td><h3 class="style52">4s</h3></td>
  </tr>
  <tr>
    <td><strong>3.</strong> Use this button to make the loop longer or shorter.</td>
  </tr>
  <tr>
    <td><div class="style52"><i class="icon-refresh icon-2x icon-style52"></i></div></td>
  </tr>
  <tr>
    <td><strong>4.</strong> The forward button skips ahead to the next loop.</td>
  </tr>
  <tr>
    <td><div class="style52"><i class="icon-forward icon-2x icon-style52" style="right: 6px;"></i></div></td>
  </tr>
</table>