<div id="footer">
  <div class="container">
    <ul class="nav nav-pills">
      <li><a class="page-language-option" id="english-page">English</a></li>
      <li><a class="page-language-option" id="spanish-page">Español</a></li>
      <li><a class="page-language-option" id="french-page">Français</a></li>
      <li><a class="page-language-option" id="portuguese-page">Português</a></li>
      <li><a class="page-language-option" id="korean-page">한국말</a></li>
      <li><a class="page-language-option" id="japanese-page">日本語</a></li>
      <li><a class="page-language-option" id="chinese-page">汉语</a></li>
      <li><a class="page-language-option" id="persian-page">فارسی</a></li>
      <li><a class="page-language-option" id="arabic-page">العربية</a></li>
      <li><a class="page-language-option" id="hebrew-page">עברית</a></li>
      <li><a class="page-language-option" id="hindi-page">हिंदी</a></li>
    </ul>
  </div>
</footer>


<<table style="border-collapse: separate; border-spacing: 15px 15px; margin: auto; width: 500px;" border="0">
  <tr>
    <td><strong>1.</strong> Hit the pin when the words start.</td>
  </tr>
  <tr>
    <td><div class="style52"><i class="icon-pushpin icon-2x icon-style52" style="right: 10px;"></i></div></td>
  </tr>
  <tr>
    <td><strong>2.</strong> When you hit the pin, the video will loop every 4 seconds.</td>
  </tr>
  <tr>                
    <td><h3 class="style52">4s</h3></td>
  </tr>
  <tr>
    <td><strong>3.</strong> Use this button to make the loop longer or shorter.</td>
  </tr>
  <tr>
    <td><div class="style52"><i class="icon-refresh icon-2x icon-style52"></i></div></td>
  </tr>
  <tr>
    <td><strong>4.</strong> The forward button skips ahead to the next loop.</td>
  </tr>
  <tr>
    <td><div class="style52"><i class="icon-forward icon-2x icon-style52" style="right: 6px;"></i></div></td>
  </tr>
</table>