<div id="index-box">
  <% Video.all.each do |v| %>
    <div class="video-thumb-box <%= v.lang1 %>">
      <strong class="center"><%= link_to "#{v.title.slice(0,40)}", video_url(v.id) %></strong>
      <br>
      <img src="http://img.youtube.com/vi/<%= v.youtube_id %>/1.jpg">
    </div>
  <% end %>
</div>
<br>
<div class="wrapper">
  <div class="centerbox narrow">
    <a class="btn btn-info btn-large" id="translate-button" onClick="parent.location='/videos/new'">Translate new video</a>
  </div>
</div>