<div style="float: left; margin-left: 100px; margin-top: 25px;">
  <ul class="nav nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Give me videos in... <b class="caret"></b></a>
      <ul class="dropdown-menu" id="menu1">
        <%= render 'language_dropdown_options' %>
      </ul>
    </li>
  </ul>
</div>
<div style="float: right; margin-right: 100px; margin-top: 5px;">
  <a class="btn btn-primary btn-large" style="float: right;" onClick="parent.location='/videos/new'">Translate new video</a>
</div>
<br>
<div style="margin-top: 100px; margin-left: 100px; margin-right: 100px;">
  <% Video.all.each do |v| %>
    <div class="video-thumb-box <%= v.lang1 %>">
      <strong><%= link_to "#{v.title} - #{v.artist}", video_url(v.id) %></strong>
      <br>
      <img src="http://img.youtube.com/vi/<%= v.url.slice(31,11) %>/2.jpg">
      <br><br>
    </div>
  <% end %>
</div>
