<div class="centerbox very-wide-box">
  <h2>Copy-and-paste the URL from YouTube:</h2>
  <div class="controls">
    <input type="text" class="input-xlarge" id="new-video-submit">
  </div>
</div>

<div style="margin-left: 40px; float: left;"><div id="new-video-box"></div></div>

<div id="timer"></div>
<div id="video-title"></div>

<div style="float: left;">

  <div style="margin-left: 40px; float: left; width: 300px;">
    <div id="lang1-box">    
      <div id="video-language-dropdown"></div>
      <div id="lyrics-form-left"></div>
    </div>
    <br>
    <div class="done-button" style="float: left;"></div>
    <div class="save-button" style="float: left; margin-left: 20px;"></div>
  </div>

  <div style="margin-left: 40px; float: left; width: 300px;" id="lang2-box">
    <div id="translation-language-dropdown"></div><br>
    <div id="lyrics-form-right"></div>
  </div>

</div>