<div id="title-box" class="centerbox very-wide-box"></div>
<div class="centerbox very-wide-box">
  <div id="copy-and-paste-box">
    <h2>Copy-and-paste the URL from YouTube here:</h2>
    <div class="controls">
      <input type="text" class="input-xlarge" id="new-video-submit">
    </div>
  </div>
<br>
<br>
  <div id="video-language-dropdown">
    <p>This video is in...</p>
    <ul class='nav nav-pills' id='language-options'>
      <li class='dropdown'> 
        <a class='btn btn-info dropdown-toggle center-pill' data-toggle='dropdown'>Select language<b class='caret'></b></a> 
        <ul class='dropdown-menu'>
          <li><a class='video-language' id='English'>English</a></li> 
          <li><a class='video-language' id='Chinese'>Chinese</a></li>
          <li><a class='video-language' id='Korean'>Korean</a></li> 
          <li><a class='video-language' id='Japanese'>Japanese</a></li> 
          <li><a class='video-language' id='Spanish'>Spanish</a></li> 
          <li><a class='video-language' id='Portuguese'>Portuguese</a></li> 
          <li><a class='video-language' id='French'>French</a></li> 
          <li><a class='video-language' id='German'>German</a></li> 
          <li><a class='video-language' id='Italian'>Italian</a></li> 
          <li><a class='video-language' id='Russian'>Russian</a></li> 
          <li><a class='video-language' id='Norwegian'>Norwegian</a></li> 
          <li><a class='video-language' id='Hebrew'>Hebrew</a></li> 
          <li><a class='video-language' id='Arabic'>Arabic</a></li> 
          <li><a class='video-language' id='Persian'>Persian</a></li> 
          <li><a class='video-language' id='Hindi'>Hindi</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="outer-video-box" class="video-container">
  <div id="new-video-box"></div>
  <div id="controls"><%= image_tag("red_arrow.png", :id => 'red-arrow') %></div>
  <div id="timer-box"></div>
</div>

<div id="select-language-box">
  <div class="text-padding">
    <div id="translation-language-dropdown"></div>
  </div>x
</div>

<div class="lyrics-container">
  <div id="lang1-box">    
    <div id="lang1-lyrics"></div>
    <div id="lang1-input"></div>
  </div>
  <br>
  <div class="done-button" style="float: left;"></div>
  <div class="save-button" style="float: left; margin-left: 20px;"></div>
</div>
<div class="lyrics-container">
  <div id="lang2-box">
    <div id="lang2-lyrics"></div>
    <div id="lang2-input"></div>
  </div>
</div>

<div id="interp-id" class="quiet">