<div class="centerbox very-wide-box">
  <h2>Copy-and-paste the URL from YouTube:</h2>
  <div class="controls">
    <input type="text" class="input-xlarge" id="new-video-submit">
  </div>
</div>

<div class="centerbox" id="new-video-box"></div>

<br>

<div class="centerbox translate-new-video-box" id="translation-box">
  <div class="text-container">
    <div class="right-container" id="translation-language-dropdown"></div>
    <div class="left-container" id="video-language-dropdown"></div>
  </div>
  <br>
  <div class="text-container" id="lyrics-form"></div>
  <br><br><br>
  <div class="done-button-box"></div>
</div>