<div class="centerbox very-wide-box">
  <h2>Copy-and-paste the URL from YouTube:</h2>
  <div class="controls">
    <input type="text" class="input-xlarge" id="new-video-submit">
  </div>
</div>

<div id="timer-box"></div></div>
<div style="margin-left: 60px; float: left;" id="outer-video-box"><div id="new-video-box"></div></div>

<div style="margin-left: 40px; margin-top: 0px; float: left; width: 300px;">
  <div id="lang1-box">    
    <div id="video-language-dropdown"></div>
    <div id="lang1-lyrics"></div>
    <div id="lang1-input"></div>
  </div>
  <br>
  <div class="done-button" style="float: left;"></div>
  <div class="save-button" style="float: left; margin-left: 20px;"></div>
</div>
<div style="margin-left: 40px; margin-top: 0px; float: left; width: 300px;">
  <div id="lang2-box">
    <div id="translation-language-dropdown"></div>
    <div id="lang2-lyrics"></div>
    <div id="lang2-input"></div>
  </div>
</div>
