<%= content_tag "div", id: "video-id", data: { youtube_id: @video.youtube_id } do %>
<% end %>

<div class="video-box centerbox"><div id="show-video-box"></div></div>

<% if @lines.present? %>

  <div class="lyrics-box centerbox" id="lyrics">

  <% @lines.each do |l| %>

    <div class="wide-lyrics-container" id="line-<%= l.time %>">
      <div class="text-container">
        <p class="lyrics"><%= l.lang1 %></p>
      </div>
    </div>

  <!--
      <div class="container lyrics-container lang2">
        <div class="text-container">
          <p class="white-text"><%= l.lang2 %></p>
        </div>
      </div>

    <div class="button-container">
      <i class="icon-thumbs-up"></i><i class="icon-thumbs-down"></i><i class="icon-comment-alt"></i>
    </div>

  -->

    <% end %>

  </div>

  <% else %>

  <div class="centerbox" style="text-align: center;"><h3>Nobody's translated this song yet. Want to give it a try?</h3></div>

<% end %>