<div class="word-box">
  <div class="word-box-title">Definition</div>
    <div style="font-size: 18px;">
      <br>
      <%= @word.text %>
      <br>
      =
      <br>
      <%= @definition.text %>
</div>