<div class="row-fluid">
  <div class="span6 offset3">
    <h3 style="text-align: center;">Email: <a href="mailto:hello@heyuvideo.com">hello@heyuvideo.com</a></h3>
    <h3 style="text-align: center;">Twitter: <a href="https://www.twitter.com/heyuvideo">@heyuvideo</a></h3>
  </div>
</div>
