<div class="centerbox center" style="text-align: left;">

  <h2>Digital Millennium Copyright Act</h2>
        
    <p>If you believe that your work has been copied in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, please notify Heyu of your claim in accordance with the procedure below:</p>

    <br>

    <ul>

      <li><p>A notification of claimed copyright infringement should be emailed to Heyu at <a href="mailto:hello@heyuvideo.com">hello@heyuvideo.com</a>, subject line:  “DMCA Takedown Request." Your notification should contain the following information:</p></li>

        <ul>
          <li><p>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest,</p></li>
          <li><p>a description of the copyrighted work or other intellectual property that you claim has been infringed,</p></li>
          <li><p>a description of where the material that you claim is infringing is located on the <a href="www.heyuvideo.com">www.heyuvideo.com</a> website,</p></li>
          <li><p>your address, telephone number, and email address,</p></li>
          <li><p>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright or intellectual property owner, its agent, or the law,</p></li>
          <li><p>a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner‘s behalf.</p></li>
        </ul>

      <li><p>Counter-Notice: If your content was removed due to a DMCA takedown request and you belive that the content does infringe on copyright, or that you are authorized by the copyright owner, the copyright owner’s agent, or pursuant to the law, to post and use the content, you may send a written counter-notice to Heyu at <a href="mailto:hello@heyuvideo.com">hello@heyuvideo.com</a> containing the following information:</p></li>

        <ul>
          <li><p>your physical or electronic signature,</p></li>
          <li><p>identification of the content that has been removed or to which access has been disabled and the location at which the content appeared before it was removed or disabled,</p></li>
          <li><p>a statement that you have a good faith belief that the content was removed or disabled as a result of mistake or a misidentification of the content,</p></li>
          <li><p>your name, address, telephone number, and e-mail address,</p></li>
          <li><p>a statement that you consent to the jurisdiction of the U.S. Federal District Court for the judicial district in which you are located (or if you are outside the U.S., for any judicial district in which Heyu may be found), and that you will accept service of process from the person who originally provided us with the infringement notice (the “Copyright Holder”) or an agent of such person.</p></li>
        </ul>

      <li><p>If a counter-notice is received by Heyu, Heyu will send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed content or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the content provider, member or user, the removed content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at our sole discretion.</p></li>

      <li><p>Repeat Infringer Policy:  In accordance with the DMCA and other applicable law, Heyu will, in appropriate circumstances and at our sole discretion, terminate users who are deemed to be repeat infringers of copyright.</p></li>

    <br>

    <div style="text-align: center;">
      <a href="/terms">
        <div class="btn btn-large btn-primary rounded" > Back </div>
      </a>
    </div>
</div>