<div class="post">

  <div class="bigger-friendly">10<sup>th</sup> Graders Who Translate</div>
  <div class="big-friendly" style="color: gray; margin-top: 4px;">
    Friday, November 1, 2013  &bull;  Alex
  </div>

  <br>

  <div class="friendly big">Hip-hop from Madrid, indie-pop from Chile, Puerto Rican reggaeton &mdash; for Katie Bordner's 10<sup>th</sup> graders in Pittsburgh, these are the sounds of Spanish class.</div>

  <br>

  <div class="friendly big">Katie's students have been using Heyu to create translations, quizzes, and vocabulary lists paired with songs from around the Spanish-speaking world. A student's take on the activity: "It was fun and made me pay attention."</div>

  <br>

  <div class="friendly big">Today I got to chat with these students over Google Hangout.  The best part?  Hearing their feedback and ideas for Heyu.  Nothing motivates like having talented 10<sup>th</sup> graders as your clients!</div>
  
  <br>

  <div class="friendly big">Here's our chat from Katie's point of view (<a href="https://twitter.com/mskbordner">@mskbordner</a>):</div>

  <br>

  <div style="width: 500px; margin-left: auto; margin-right: auto">
    <blockquote class="twitter-tweet"><p>My students r talking w/ <a href="https://twitter.com/alexsoble">@alexsoble</a> from <a href="https://twitter.com/heyuvideo">@heyuvideo</a> 2give feedback/talking about how 2code! So proud of their work! <a href="http://t.co/SgGs5y5Dyb">pic.twitter.com/SgGs5y5Dyb</a></p>&mdash; Katie Bordner (@mskbordner) <a href="https://twitter.com/mskbordner/statuses/396266584651882496">November 1, 2013</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet center"><p><a href="https://twitter.com/andyndc">@andyndc</a> they were so engaged! Some presented their videos &amp;other students were really impressed! <a href="https://twitter.com/alexsoble">@alexsoble</a> <a href="https://twitter.com/heyuvideo">@heyuvideo</a></p>&mdash; Katie Bordner (@mskbordner) <a href="https://twitter.com/mskbordner/statuses/396331872214863872">November 1, 2013</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <br><br>
  
  <div class="friendly big">You'll be impressed too.  Take a look at a few of these student-created resources:</div>

  <br>

  <ul>

    <li class="friendly big">
      <%= link_to 'Vocab, questions, and translation for Astro\'s "Colombo".', interpretation_url(@lanes_interpretation) %>
    </li>
    <br>
    <li class="friendly big">
      <%= link_to 'Fill-in-the-blanks quiz based on "Angelitos Negros" by La Vida Boheme.', fill_exercise_url(@michaels_fill_exercise) %>
    </li>
    <br>
    <li class="friendly big">
      <%= link_to "Prince Royce's \"Darte un Beso\" turned into a Fill-in-the-blanks quiz.", fill_exercise_url(@kelseys_fill_exercise) %>
    </li>

  </ul>

</div>