#heyu-area { 
width: 400px;
margin-left: auto;
margin-right: auto; }

#lyrics-box { 
width: 420px; height: 160px; 
background-color: #f3f3f6;
overflow: scroll;
border-radius-bottom-left: 5px;
border-radius-bottom-right: 5px;
padding: 5px; }
