#heyu-area { 
width: 400px;
margin-left: auto;
margin-right: auto; }

#lyrics-box { 
width: 390px; height: 160px; 
background-color: #f3f3f6;
overflow: scroll;
border: 1px solid white; 
border-radius: 10px;
padding: 15px; }
