<input type="text" class="short-text-box" id="ask-youtube"><%= image_tag "youtube-logo.png", :size => '71x71', :style => 'position: relative; left: -12px; top: -5px;' %>

<br>
<br>

<input type="text" class="short-text-box" id="ask-youtube-no-autocomplete">

<br>
<br>

<div id="results"></div>