
<br>

  <div id='looping-left-label' class='end-label'><span class='padded-label'></span></div>
    <div id='poop-slider'></div>
  <div id='looping-right-label' class='end-label'><span class='padded-label'></span></div>

<br>