<span class='edit-line blue-link  tiny' title='Edit line' data-line-id=2> <i class='icon icon-pencil'></i> </span>
<span class='comment-line blue-link tiny' title='Add comment to line' data-line-id=2> <i class='icon icon-comment'></i> </span>
<span class='remove-line blue-link tiny' title='Delete line' data-line-id=2> <i class='icon icon-remove'></i> </span>
<span class='add-time-to-line blue-link tiny' title='Add time to line' data-line-id=2> <i class='icon icon-time'></i> </span> 
<span class="lang1" data-line-id=2>Hi</span>
<span class="line-comment-area" data-line-id=2></span>
<span class="line-timing tiny gray" data-line-id=2 data-time=2>
