<div class="row-fluid">
  <div class="span6 offset4">
    <br>
    <h2>Here's what we believe:</h2>
    <ol>
      <li>The best way to learn a new language? Immerse yourself.</li>
      <li>If you can, go there. Listen to music, watch videos in the language.</li>
      <li>Translate YouTube.</li>
    </ol>
  </div
</div>