<div class="row-fluid">
  <div class="span6 offset3">
    <br>
    <h2 style="text-align: center">What we believe:</h2>
    <br>
    <p style="text-align: justify;">
      The best way to learn a new language is to dive in and get immersed.  That means chatting with a <strong>conversation</strong> partner, listening to <strong>music</strong>, and watching <strong>videos</strong> and <strong>television</strong> in the language you want to learn.
      <br><br>
      If your goal is to understand how the language is actually used and spoken, you'll need to watch content that's <strong>current, relevant</strong>, and <strong>interesting</strong>.  That's what Heyu is for.  
      <br><br>
      Our goal is to help langauge learners and language teachers turn their favorite videos on YouTube into <strong>catchy learning tools</strong>. Find a song in the target langauge that sticks in your brain.  Watch it a few times. Then translate it.
      <br><br>
      Translating sound too hard?  Don't be afraid to use friends, teachers, WordReference, Google, or social media. Heyu even has a built-in tool for you to <strong>get help from Twitter</strong> — use it to start a conversation about exactly how to translate that tricky phrase or idiom.
      <br><br>
      <strong>Got students?</strong> Use Heyu to highlight grammatical concepts and add notes to explain the subtleties. With Heyu, homework could mean watching a video translation that explains a key grammar point, or, for more advanced students, creating one.  Use Heyu for reinforcement, for introducing new concepts, for assessment, or as a creative final project. However you go about it, use Heyu to bring music and culture into language study.
      <br><br>
    <p style="text-align: center">That's the idea!  So <a href="/welcome">give Heyu a whirl</a>.  Then <a href="mailto:hello@heyuvideo.com">drop us a line</a> and let us know what you think.</p>
  </div>
</div>