<div class="row-fluid">
  <div class="span6 offset3">
    <br>
    <h2 style="text-align: center"><strong>What we believe about language learning:</strong></h2>
    <br>
    <p style="text-align: justify;">
      The best way to learn a new language is to dive in and <strong>immerse yourself</strong>.  Find a conversation partner, <strong>listen to music</strong> and <strong>watch fun videos</strong> in the language you want to learn.  If your goal is to understand how the language is actually used and spoken, you need to watch content that's current, relevant, and interesting to you.  That's what Heyu is for.  
      <br><br>
      Our goal is to help langauge learners, language teachers, and language lovers share and translate their favorite videos on YouTube. Find a song in your target langauge that you can't get out of your head. Watch it a few times. Then <strong>translate it</strong>. If you need to, use friends, teachers, Google, or <a href="http://www.wordreference.com/">WordReference</a>. You'll improve your vocabulary, pronunciation, grammatical skills and cultural knowledge. And you'll have fun doing it.
    <br>
    <br>
    <h2>Translate.</h2>
    <p style="text-align: justify;">
      <strong>Speak another language?</strong>  Heyu is the easiest way to add dual-langauge subtitles to any YouTube video. Share content you love. Keep your language skills fresh.</p> <br>
    <h2>Explore.</h2>
      <p> Love <strong>Bollywood videos</strong> or <strong>bossa nova songs</strong>, but have no idea what the lyrics mean?  Heyu helps you explore new worlds by adding meaning to music and video in other langauges.</p> <br>
    <h2>Learn.</h2>
      <p>Practice pronounciation, grammar, vocabulary through music.</p> <br>
    <h2>Teach.</h2>
      <p><strong>Got students?</strong> Heyu is a way to bring the language you teach to life.  It's a way to make homework fun and a creative assessment. </p> <br><br>
  </p>
    <p style="text-align: center">That's the idea!  So <strong><a href="/welcome">give Heyu a whirl</a></strong>.  Then <strong><a href="/survey">drop us a line</a></strong> and let us know what you think.</p> <br><br>

</div>
