<div class="row-fluid">
  <div class="span6 offset4">
    <br>
    <h2>Here's what we believe:</h2>
    <br>
    <ol>
      <li>The best way to learn a new language? <strong>Immerse yourself!</strong></li>
      <br>
      <li>If you can't hop on a plane to where the language is spoken—<strong>listen to music</strong> and <strong>watch videos</strong> in the language.</li>
      <br>
      <li>If your goal is to interact with the living language and culture, the best content to listen to is <strong>current, relevant, and popular.</strong></li>
    </ol>
    <br>
    Give it a whirl.  Then <a href="mailto:alex@heyuvideo.com?Subject=Hello%20again">drop us a line.</a>
  </div>
</div>