<div class="row-fluid">
  <div class="span6 offset3">
    <br>
    <h2><i>So, what can I do with Heyu?</i></h2>
    <br>
    <h2>Translate.</h2>
    <p style="text-align: justify;">
      <strong>Speak another language?</strong>  Heyu is the easiest way to add dual-langauge subtitles to any YouTube video. Share content you love. Keep your language skills fresh.</p> <br>
    <h2>Explore.</h2>
      <p> Love <strong>Bollywood videos</strong> or <strong>bossa nova songs</strong>, but have no idea what the lyrics mean?  Heyu helps you explore new worlds by adding meaning to music and video in other langauges.</p> <br>
    <h2>Evaluate.</h2>
      <p><strong>Got students?</strong> For langauge teachers with students at the intermediate/advanced level, having your students translate a song or video clip is a great way to gauge comprehension. </p> <br><br>
  </p>
    <p style="text-align: center">That's the idea!  So <strong><a href="/welcome">give Heyu a whirl</a></strong>.  Then <strong><a href="/survey">drop us a line</a></strong> and let us know what you think.</p>
  </div>
</div>