<div class="row-fluid">
  <div class="span6 offset3">
    <br>
    <h2 style="text-align: center">What we believe:</h2>
    <br>
    <p style="text-align: justify;">
      The best way to learn a new language is to dive in and <strong>immerse yourself</strong>.  Find a conversation partner, <strong>listen to music</strong> and <strong>watch fun videos</strong> in the language you want to learn.  If your goal is to understand how the language is actually used and spoken, you need to watch content that's <strong>current, relevant</strong>, and <strong>interesting to you</strong>.  That's what Heyu is for.  
      <br><br>
      Our goal is to help langauge-learners share and translate their favorite videos on YouTube. Find a song in your target langauge that sticks in your brain. Watch it a few times. Then <strong>translate it</strong>. (Use <a href="http://www.wordreference.com/"><strong>WordReference</strong></a>, friends, teachers, Google.) With Heyu, you'll create dual-language subtitles as you translate. Watch the subtitled video. <strong>Sing along</strong>. You'll improve your vocabulary, pronunciation, grammatical skill and cultural knowledge. And you'll <strong>have fun doing it</strong>.
    <br>
    <br>
    <p style="text-align: center">That's the idea!  So <strong><a href="/welcome">give Heyu a whirl</a></strong>.  Then <strong><a href="/survey">drop us a line</a></strong> and let us know what you think.</p>
  </div>
</div>