<div class="row-fluid">
  <div class="span6 offset3">
    <br>
    <h2 style="text-align: center"><strong>You might be a Heyu teacher if:</strong></h2>
    <br>
    <li><p>1</li></p>
    <li><p>1</li></p>
    <li><p>1</li></p>
    <h2 style="text-align: center"><strong>You might be a Heyu teacher if:</strong></h2>
    <br>
    <li><p>1</li></p>
    <li><p>1</li></p>
    <li><p>1</li></p>
    <h2 style="text-align: center"><strong>You might be a Heyu teacher if:</strong></h2>
    <br>
    <li><p>1</li></p>
    <li><p>1</li></p>
    <li><p>1</li></p>
  </div>
</div>