<div class="row-fluid">
  <div class="span6 offset3">
    <br>
    <h2 style='text-align: right;'><i>What can I do with Heyu?</i></h2>
    <br>
    <h2>Translate.</h2>
    <p style="text-align: justify;">
      <strong>Speak another language?</strong>  Heyu is the easiest way to add dual-langauge subtitles to any YouTube video. Share content you love. Keep your language skills fresh.</p> <br>
    <h2>Explore.</h2>
      <p> Love <strong>Bollywood videos</strong> or <strong>bossa nova songs</strong>, but have no idea what the lyrics mean?  Heyu helps you explore new worlds by adding meaning to music and video in other langauges.</p> <br>
    <h2>Learn.</h2>
      <p>Practice pronounciation, grammar, vocabulary through music.</p> <br>
    <h2>Teach.</h2>
      <p><strong>Got students?</strong> Heyu is a way to bring the language you teach to life.  It's a way to make homework fun and a creative assessment. </p> <br><br>
  </p>
    <p style="text-align: center">That's the idea!  So <strong><a href="/welcome">give Heyu a whirl</a></strong>.  Then <strong><a href="/survey">drop us a line</a></strong> and let us know what you think.</p>
  </div>
</div>