<div class="centerbox center" style="text-align: left;">

  <h2>Heyu Terms of Service</h2>

    <p>Welcome to Heyu! By using heyuvideo.com ("the wesbite"), you signify that you have read and agree to the terms of service below. If you don't agree with these terms, don't use the website.</p>

    <br>

    <ul>
      
      <li><p>Heyu provides heyuvideo.com as a free service for language teachers and learners. To that end, we expect you to use our website to help people learn new languages and expand their cultural horizons.</p></li>

      <ul>
        <li><p> If you post content to the website that is unlawful, threatening, libelous, or otherwise offensive it may be removed and your user account may be suspended or terminated without warning.</p></li>
      </ul>

      <li><p><strong>Your use of heyuvideo.com is at your sole risk.</strong> Heyu reserves the right to change or remove any portion of this website and will not be liable to you for any modification or discontinuance.</p></li>

      <li><p> If you choose to register an account with Heyu, you agree to provide accurate, current and complete information about yourself as prompted by our registration forms.</p></li>

      <li><p>If you believe your copyright is being infringed on, please visit our <a href="/dmca">DMCA page</a> and follow the procedure outlined therein.</p></li>

      <li><p>These terms of service may be modified, so check back at this page from time to time.</p></li>
      
    </ul>

    <br>
    
    <div style="text-align: center;">
      <a href="/join">
        <div class="btn btn-large btn-primary rounded" > Back </div>
      </a>
    </div>

</div>