<div class="centerbox center">

  <p>Thanks to everyone who made this a thing.</p>
  <p>Jeffrey Soble, Elaine Soble, The @StarterLeague, Tash Postolovski, Emily Moss, Ariela Rothstein, Katie Bordner, Ariela Frankel, Rifka, Ben Singer, Joe Flesch, KAZAKH TEACHER, ALEC SUGAR.<p>
  <p>And all the great open source software out there...</p>
  <p>lettering.js, jqRangeSlider, Bootstrap and Bootswatch, liveQuery (<a href="www.twitter.com/@brandonaaron">@brandonaaron<a>, scrollTo, hoverIntent, Rails, Coffeescript</p>

</div> 