<br><br>
  <h3 class="center"><i>Find a quiet space and dust off that dictionary...</i></h3>
  <h2 class="center"> It's translating time.</h2>
<br><br>

<div class="row">

<div class="index-button" id="new-translation-button">
  <div class="button-text-wrapper">
    <p class="index-button-text">Search YouTube or copy the video address here:</p>
  </div>
  <div class="button-text-wrapper" style="float: left;"> 
    <div class="controls" style="position: absolute;">
      <input type="text" class="short-text-box new-video-input" id="ask-youtube"><%= image_tag "youtube-logo.png", :size => '71x71', :style => 'position: relative; left: -12px; top: -5px;' %>
      <input type="hidden" id="youtube_id">
      <div id="progress-bar"></div>
    </div>
  </div>
</div>
<div id="results-box"></div>
