<% if current_user %>
  <% if current_user.firstname %>
    <h1 style='text-align: center;'>Welcome, <%= current_user.firstname %></h1>
  <% else %>
    <h1 style='text-align: center;'>Welcome, <%= current_user.username %>!</h1>
  <% end %>
  <br>
<% end %>
  <br><br>
  <h3 style='text-align: center; font-size: 30px;'><i>Heyu</i>: Turn any <span style="font-size: 36px;"><i class="icon icon-youtube-sign"></i></span> video into a language-study resource for the <span style="font-size: 36px;"><i class="icon icon-globe"></i></span>.</h3>
  <br><br>
<!DOCTYPE html>
<meta charset="utf-8">

<body>
  <div id="country-name"></div>
  <div id="country-videos"></div>
  <div id="globe" style="text-align: center;"></div>
</body>

<style>

#country-name {
  text-align: center; 
  font-size: 16px;
}

#country-videos {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}


</style>
<body>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script>

function fetchVideos(country) {
  console.log('in!');
  console.log(country);
  $(country).attr('style','opacity: 0.8');
  name = country.attr('name');
  console.log(name);

  $.post("/fetch_videos", { 'type' : 'country', 'term' : name }, function(data) {
    if (data.data.length === 0) {
      $('#country-name').html("<strong>" + name + "</strong>: No videos yet. <a href='/new'>Add one?</a>");
      $('#country-videos').html("");
    } else {
      console.log(data.data);
      country_videos_html = "<strong>" + name + "</strong>: <a>" + data.data.length + " videos.</a>";
      $('#country-name').html(country_videos_html);
      for (var i = 0; i < data.data.length; i++) {
        title = data.data[i].title;
        slug = data.data[i].slug;
        youtube_id = data.data[i].youtube_id;
        country_videos_html = "<div class='video-thumb-box result-thumb-box' data-youtube-id=" + youtube_id + " data-slug=" + slug + ">";
        country_videos_html += "<div class='quiet'>" + slug + "</div>";
        country_videos_html += "<strong class='center blue'>" + title.slice(0,30) + "</strong>";
        country_videos_html += "<br><div class='image-box'><img src='http://img.youtube.com/vi/" + youtube_id + "/1.jpg' /></div><br></div>";
      }
      $('#country-videos').html(country_videos_html);
    }
  });
}

var width = 960,
    height = 580;
    color = d3.scale.category10();

var projection = d3.geo.kavrayskiy7()
    .scale(170)
    .translate([width / 2, height / 2])
    .precision(.1);

var path = d3.geo.path()
    .projection(projection);

var graticule = d3.geo.graticule();

var svg = d3.select("#globe").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.append("defs").append("path")
    .datum({type: "Sphere"})
    .attr("id", "sphere")
    .attr("d", path);

svg.append("use")
    .attr("class", "stroke")
    .attr("xlink:href", "#sphere");

svg.append("use")
    .attr("class", "fill")
    .attr("xlink:href", "#sphere");

svg.append("path")
    .datum(graticule)
    .attr("class", "graticule")
    .attr("d", path);

queue()
    .defer(d3.json, "d3/world")
    .defer(d3.tsv, "d3/names")
    .await(ready);

function ready(error, world, names) {
  var countries = topojson.feature(world, world.objects.countries).features,
      n = countries.length;

  countries = countries.filter(function(d) {
      return names.some(function(n) {
        if (d.id == n.id) {
         return d.name = n.name;
       }
      });
    });

  svg.selectAll(".country")
      .data(countries)
    .enter().insert("path", ".graticule")
      .attr("class", "country")
      .attr("name", function(d) { return d.name; })
      .attr("d", path)
      .style("color", "gray");

  svg.insert("path", ".graticule")
      .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
      .attr("class", "boundary")
      .attr("d", path);

  d3.select(self.frameElement).style("height", height + "px");

  $(".country").hoverIntent(function() {
    fetchVideos($(this));
    $(this).attr('style','opacity: 1.0');
  });

}
</script>