<div class="centerbox">
  <br>
  <h2><i><strong>Heyu</strong></i> gives <strong>you</strong> the power to turn any YouTube video into a langauge-learning resource.</h2>
  <br>
</div>
<div id="globe-box">
  <div id="globe"></div>
</div>
<div id="country-info-box">
  <div id="instructions">
    <h3>Search the globe to find Heyu videos.</h3>
  </div>
  <div id="country-name"></div>
  <div id="country-videos"></div>
</div>

<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>

<script>

function fetchVideos(country) {
  country.attr('style','opacity: 0.8');
  country.animate({ opacity : 1.0 }, 4000);
  $('#instructions').html("");  
  name = country.attr('name');

  $.post("/fetch_videos", { 'type' : 'country', 'term' : name }, function(data) {
    if (data.data.length === 0) {
      $('#country-name').html("<strong>" + name + "</strong>:<br/><br/>No videos yet.<br/><a href='/new'>Add one?</a>");
      $('#country-videos').html("");
    } else {
      console.log(data.data);
      country_videos_html = "<strong>" + name + "</strong>:<br/><a>" + data.data.length + " videos.</a><br/><br/>";
      $('#country-name').html(country_videos_html);
      for (var i = 0; i < data.data.length; i++) {
        title = data.data[i].title;
        slug = data.data[i].slug;
        youtube_id = data.data[i].youtube_id;
        country_videos_html = "<div class='globe-thumb-box result-thumb-box' data-youtube-id=" + youtube_id + " data-slug=" + slug + ">";
        country_videos_html += "<div class='quiet'>" + slug + "</div>";
        country_videos_html += "<strong class='center blue'>" + title.slice(0,30) + "</strong>";
        country_videos_html += "<br><div class='image-box'><img src='http://img.youtube.com/vi/" + youtube_id + "/1.jpg' /></div><br></div>";
      }
      $('#country-videos').html(country_videos_html);
    }
  });
}

var width = 960,
    height = 580;
    color = d3.scale.category10();

var projection = d3.geo.kavrayskiy7()
    .scale(170)
    .translate([width / 2, height / 2])
    .precision(.1);

var path = d3.geo.path()
    .projection(projection);

var graticule = d3.geo.graticule();

var svg = d3.select("#globe").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.append("defs").append("path")
    .datum({type: "Sphere"})
    .attr("id", "sphere")
    .attr("d", path);

svg.append("use")
    .attr("class", "stroke")
    .attr("xlink:href", "#sphere");

svg.append("use")
    .attr("class", "fill")
    .attr("xlink:href", "#sphere");

svg.append("path")
    .datum(graticule)
    .attr("class", "graticule")
    .attr("d", path);

queue()
    .defer(d3.json, "d3/world")
    .defer(d3.tsv, "d3/names")
    .await(ready);

function ready(error, world, names) {
  var countries = topojson.feature(world, world.objects.countries).features,
      n = countries.length;

  countries = countries.filter(function(d) {
      return names.some(function(n) {
        if (d.id == n.id) {
         return d.name = n.name;
       }
      });
    });

  svg.selectAll(".country")
      .data(countries)
    .enter().insert("path", ".graticule")
      .attr("class", "country")
      .attr("name", function(d) { return d.name; })
      .attr("d", path)
      .style("color", "gray");

  svg.insert("path", ".graticule")
      .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
      .attr("class", "boundary")
      .attr("d", path);

  d3.select(self.frameElement).style("height", height + "px");

  $(".country").hoverIntent(function() {
    fetchVideos($(this))
  });

}
</script>