<div class="centerbox center">
  <br>
  <h1 style="line-height: 48px;">Learning a language should be <strong>fun.</strong></h1>
  <br>
  <h2>If you agree raise your hand! (And join Heyu.)</h2>
  <br>
  <h3>Heyu videos are for language teachers and students who use songs and videos as they learn.</h3>
  <br>
  <h3><strong>Watch an example:</strong></h3>
  <br>
  <br>
      <%  @demo_videos.each do |i| %>
      <% v = i.video %>
      <div class="video-thumb-box frontpage-thumb-box <%= v.lang1 %>" data-interp-id=<%= i.id %>>
        <strong class="center" style="color: #2793E6;"><%= "#{v.title.slice(0,25)}" %></strong>
        <br>
        <div class="image-box">
          <%= image_tag "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" %>
        </div>
      </div>
    <% end %>

</div>
<br>
<br>
<br>