<div class="centerbox center">
  <br>
  <h1 style="line-height: 48px;">Learning a language should be <strong>fun.</strong></h1>
  <br>
  <h2>Raise your hand if you agree! (And join Heyu.)</h2>
  <br>
  <h3>Heyu helps language teachers and students use music and video.</h3>
  <br>
  <h3><strong>Watch an example:</strong></h3>
  <br>
  <br>

    <% @demo_interps.each do |i| %>
      <% v = i.video %>
      <div class="video-thumb-box frontpage-thumb-box <%= v.lang1 %>" data-interp-id=<%= i.id %>>
        <strong class="center" style="color: #2793E6;"><%= "#{v.title.slice(0,25)}" %></strong>
        <br>
        <div class="image-box">
      <%= image_tag "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" %>
      </div>
    </div>
  <% end %>

</div>
<br>
<br>
<br>