<div class="word-box">
  <div class="word-box-title">Lyrics</div>
    <div style="font-size: 18px;">
      <% @lines.each do |l| %>
        <p> <%= l.lang1 %> </p>
      <% end %>
    </div>
  </div>
</div>