/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

                                          /*** MULTIPLE PAGES (VIDEOS) ***/

::-webkit-scrollbar { display: none; }

.centerbox {  margin-right: auto; 
  margin-left: auto; 
  width: 640px; 
  overflow: scroll; 
  text-align: center; }

.narrow { width: 200px; }

small { color: #9B59BB; }

.pretty { color: #9B59BB; }

.pretty-background { background-color: #9B59BB; }

.center { text-align: center; }

body { position: relative;
  background-color: #fff;
  margin: 0 auto; }

.left { float: left; }

p { color: black; }

.white { color: white; }

.visible { overflow: visible; }

.quiet { display: none; }

table { border-collapse: separate; 
  border-spacing: 5px 20px; 
  border: 1px;
  border-color: white; }

td { color: black;
  text-align: center; }

.hr { height: 1px;
  background: #9B59BB;
  margin: 0px;}


                                          /*** INDEX PAGE (VIDEOS) ***/
.span { height: 100px; }

.video-thumb-box {
  width: 140px;
  height: 140px;
  margin-right: 40px;
  float: left; }

.index-button {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  margin-right: 40px;
  background-color: #9B59BB;
  float: right;
  position: relative; }

.index-button-text { text-align: center; }

.button-text-wrapper {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 15%;
  top: 35%; }



                                          /*** NEW PAGE (VIDEOS) ***/

.very-wide-box {
  width: 1000px;
  text-align: center;
  height: 80px;
  position: relative;
  overflow: visible; }

#outer-video-box { overflow: visible; }

#outer-video-box.sticky { 
  position: fixed; 
  bottom: 210px; }

#copy-and-paste-box {
  margin-top: 150px; }

.language-option {
  color: black; }

.video-container {
  margin-left: 100px;
  float: left; }

.lyrics-container {
  margin-left: 40px; 
  margin-top: 0px; 
  float: left; 
  width: 300px; }

.lyrics-container.sticky {
  margin-left: 555px; }

.lyrics-container.wide { 
  width: 600px;
  margin-left: 40px; 
  margin-top: 0px; 
  float: left; }

.center-pill {
  margin-right: auto; 
  margin-left: auto; 
  width: 142px;
  text-align: center; }

.center-pill-wide {
  margin-right: auto; 
  margin-left: auto; 
  width: 212px;
  text-align: center; }

.language-video-option {
  text-align: left; }

.language-translation-option {
  text-align: left; }

.style52 { width: 44px;
  height: 44px; 
  line-height: 44px;
  background-color: #9B59BB; 
  color: white;
  overflow: hidden;
  text-align: center; 
  position: relative; 
  margin: auto; }

.icon-style52 {
  top: 8px;
  right: 8px;
  position: absolute; }

#timer-box {
  position: relative;
  z-index: 1;
  bottom: 250px;
  right: 45px; }

#timer {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #9B59BB;
  text-align: center; }

#big-timer {
  color: white;
  line-height: 90px; }

#select-language-box {
  height: 480px;
  width: 480px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 60px; }

#splash-box {
  height: 480px;
  width: 480px;
  margin-left: auto;
  margin-right: auto; 
  position: relative; }

#lets-get-going {
  position: absolute;
  left: 120px; }

#controls {
  position: relative; }
  
#red-arrow {
  position: absolute;
  top: 50px;
  left: 75px; }

#red-arrow.shift-right {
  position: absolute;
  top: 50px;
  left: 130px; }

#red-arrow-text {
  position: absolute;
  top: 130px;
  left: 240px; }

#red-arrow-text.shift-right {
  position: absolute;
  top: 130px;
  left: 295px; }

#language-options {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  text-align: left; }

#request-options {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  text-align: left; }

.text-padding {
  margin: 3px;
  text-align: center; }

                                          /*** SHOW PAGE (VIDEOS) ***/

.show-video-box { position: relative; 
  overflow: visible; }

.lyrics { text-align: center;
  color: #FE781E; }

.lyrics-box {
  height: 60px;
  margin-top: 20px; 
  position: absolute; }

.lyrics-box.top { bottom: 340px; }

.lyrics-box.bottom { bottom: 100px; }

.wide-lyrics-container {
  width: 630px;
  height: 60px;
  float: left; 
  margin-top: 1px;
  margin-bottom: 1px;
  background: rgba(0,0,0,0);
  border-top: 1px solid rgba(0,0,0,0); }

.wide-lyrics-container {
  width: 630px;
  height: 60px;
  float: left; 
  margin-top: 1px;
  margin-bottom: 1px;
  background: rgba(0,0,0,0);
  border-top: 1px solid rgba(0,0,0,0); }


.narrow-lyrics-container {
  width: 315px;
  height: 60px;
  float: left;
  margin-top: 1px;
  margin-bottom: 1px;
  background: rgba(0,0,0,0);
  border-top: 1px solid rgba(0,0,0,0); }

.button-container {
  background-color: white;
  float: right;
  width: 10px;
  border-top: 2px solid white }

.black { color: black }
.white { color: white }
.sky { color: #0F82F5 }


                                          /*** STICKY FOOTER ***/

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999; }