/* Place all the styles related to the Clips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com */

.btn-share { }

.share-clip-container { 
  width: 180px;
  margin-top: 160px; 
  margin-left: 160px; }

.share-clip-text { text-align: left; }

/**
.share-clip-container .btn-large {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center; }
**/

#settings.clip {
  height: 120px; }