
#quiz-box { 
  width: 420px; 
  background-color: white;
  border: 2px solid black;
  border-radius: 10px; 
  color: black; 
  position: relative;
  top: 12px; 
  font-size: 30px; 
  line-height: 40px; 
  padding: 40px;
  padding-left: 100px; }

.quiz-report { margin: 15px;
  color: black; }

#score { font-size: 30px; color: blue; margin-left: 40px; }

#answer-box { font-size: 30px; 
  text-align: center; 
  color: black;  }

.lyrics-box.quizframe.success { top: 400px; 
  background: rgba(0, 155, 0, .3) }