
#answer-box { font-size: 30px; 
  text-align: center; 
  color: black;  }

.lyrics-box.quizframe.success { top: 400px; 
  background: rgba(0, 155, 0, .3) }

#score-box { width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #9B59BB;
  text-align: center; 
  position: relative;
  left: 500px;
  top: 100px; }

#score-text {  color: white;
  line-height: 90px; }

.wrapper.quizframe { top: 400px; 
  height: 400px; 
  width: 600px; }

.lyrics-box.quizframe { top: 400px; 
  background: rgba(0, 0, 205, .3) }

#quiz-info-box { 
  position: absolute; 
  top: -20px;
  left: -20px;  
  width: 360px; 
  background-color: white;
  border: 2px solid black;
  border-radius: 10px; 
  color: black; 
  z-index: 1; }
