/* Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

.draft-container { 
  margin-top: 40px; 
  float: left; }

.about-me-container { width: 900px; 
  margin-top: 40px; 
  float: left; }

.info-box {
  background-color: #f3f3f6; 
  padding: 20px; 
  border: 1px solid white; 
  border-radius: 10px; 
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
}

.image-box-right { 
  float: right; 
  margin: 10px;  }

.user-content-box {
  width: 320px; 
  height: 210px; 
  background-color: #f3f3f6; 
  border: 1px solid white; 
  border-radius: 10px; 
  margin-right: 40px; 
  margin-bottom: 40px; 
  padding: 15px; 
  float: left; 
  box-shadow: 10px 10px 5px #888888;
}

.user-content-preview {
  margin-top: 20px; }