/* Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

.draft-container { width: 1300px; 
  margin-top: 40px; 
  float: left; }

.about-me-container { width: 900px; 
  margin-top: 40px; 
  float: left; }

#school-info-box {
  background-color: #f3f3f6; 
  width: 300px; 
  padding: 20px; 
  border: 1px solid white; 
  border-radius: 10px; 
  float: right; 
  text-align: center;
  position: relative;
  right: 86px;
  top: 16px; }

.user-content-box {
  width: 370px; 
  height: 270px; 
  background-color: #f3f3f6; 
  border: 1px solid white; 
  border-radius: 10px; 
  margin-right: 20px; 
  margin-bottom: 20px; 
  padding: 15px; 
  float: left; }

.user-content-preview {
  margin-top: 20px; 
}