#new-video-background { 
  width: 600px; 
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #9B59BB;
  position: relative;
  border-radius: 10px; }

#new-video-text { color: white; 
  font-size: 22px; 
  line-height: 30px;
  text-align: center; 
  padding: 20px; }

#progress-bar { width: 600px; 
  position: relative; 
  top: 10px; }

.span { height: 80px; }

.video-thumb-box {
  width: 120px;
  height: 150px;
  margin-right: 40px;
  margin-top: 20px;
  float: left; 
  background-color: #f3f3f6; 
  border: solid 1px white; 
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px; 
  cursor: pointer; 
  position: relative; }

.video-thumb-box.frontpage-thumb-box {
  margin-right: 40px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 40px; 
  text-align: center; }

.video-thumb-box.featured-video-box {
  height: 180px; }

.featured-video-box.circle {
  height: 80px;
  width: 80px;
  border-radius: 60px; 
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

.circle-box-text { margin-top: 15px; }

#results-box {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  text-align: center;
  background-color: white; 
  min-height: 400px;
  margin-top: 30px; 
  margin-bottom: 240px; }

.video-thumb-box.result-thumb-box {
  margin-left: 20px; 
  margin-right: 20px; }

.image-box { width: 120px; height: 90px; }
.video-thumb-box .image-box { position: absolute; bottom: 15px; }

.tiny-text { font-size: 12px; margin: 4px; }

.thumb-box-width { width: 140px; }

.button-text-wrapper { 
  padding-left: 30px; 
  padding-top: 30px; 
  text-align: center; 
  width: 270px; 
  position: relative;
  float: left; }

.translation-option { 
  padding-top: 20px; 
  padding-left: 40px; 
  padding-bottom: -10px;
  color: white; 
  width: 440px;
  height: 40px;
  float: right; }

label.index-page-label { float: left; margin-top: 10px; margin-right: 10px; }

.lang1-input { float: right; margin-top: 10px; margin-right: 10px; }
.lang2-input { float: right; margin-top: 10px; margin-right: 10px; }

.smaller { font-size: 15px !important ; }
.tiny { font-size: 13px; }

.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden; }

ul.ui-autocomplete.ui-menu { background-color: white; list-style-type: none; } 

li.ui-autocomplete.ui-menu { color: black; } 

#social-content-area {
  left: 640px; 
  position: absolute;
  width: 510px;
  top: 84px; }

#community-notes {
  overflow-y: scroll;
  border: 1px solid white;
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  background-color: #f3f3f6;
  margin-top: 38px; 
  height: 415px;
  padding: 30px; 
  position: relative;
  bottom: 12px; }

.video-page-btn { margin-top: 10px; margin-left: 10px; margin-right: 0px !important; }

