#lyrics-box { 
  max-height: 530px;
  width: 640px;
  margin-top: 53px; 
  float: left; 
  overflow-y: scroll; 
  margin: 8px; }

#lyrics-box.skinny { width: 320px;
  max-height: 530px; }

.line-container { float: left; width: 420px; padding: 4px;  }

.line-left-subcontainer { width: 180px; margin-bottom: 4px; margin-top: 4px; float: left; }

.line-right-subcontainer { width: 180px; margin-bottom: 4px; margin-top: 4px; margin-right: 4px; float: right; }

.line-timing { float: right; cursor: pointer; }
.line-container .line-timing {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: inline-block;
  height: 15px; }
.line-timing.questionable { color: red; font-weight: bold; }

.transcript-line { padding: 4px; cursor: pointer; }
.transcript-line .lang1 { 
  display: inline-block;
  max-width: 380px; }

.line-comment {
  padding: 6px; 
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 12px; 
  background-color: #dcdce5;
  font-size: 13px; }

.exercise-transcript-line { padding: 4px; }

.note-category { border-radius: 5px; }

/* * * Quiz Related * * */

.exercise-line { font-size: 14px; padding: 2px; }

.blank { width: 60px; font-size: 14px; height: 10px !important; position: relative; top: 2px; }

.you-got-it { float: right; color: green; font-style: italic; }

.current-line .blank { color: #0f82f5; }

#quiz-status { 
  font-size: 16px; 
  margin: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px; 
  color: green; 
  padding: 12px;
}

#quiz-status div { color: green; }

/* * * * * * */

.show-video-box { position: relative; 
  overflow: visible;
  text-align: left; }

.wrapper { overflow: hidden; width: 600px; }

.lower-right-btn { position: absolute; 
  bottom: 20px; 
  right: 10px; 
  float: right; 
  width: 200px; }

.lower-left-btn { position: absolute; 
  bottom: 20px; 
  left: 10px; 
  float: right;
  width: 240px; }

.upper-left-btn { margin-left: 20px; 
  margin-top: 20px; 
  height: 200px; }

.upper-right-btn {
  float: right; 
  right: 20px;
  position: absolute; 
  top: 20px; 
  margin-bottom: 5px }

#watch-again.video-finished {
  height: 315px;
  width: 420px;
  text-align: center;
  background-color: #f3f3f6; }

.star-left {
  position: absolute; 
  top: 10px; 
  right: 102px; }
  
#star-empty {
  color: #9b59bb; }

#star-full { 
  color: #0f82f5; }

