.very-wide-box {
  width: 1000px;
  text-align: center;
  height: 80px;
  position: relative;
  overflow: visible; }

#outer-video-box { overflow: visible; position: relative; }

#outer-video-box.sticky { 
  position: fixed; 
  bottom: 210px; }

#copy-and-paste-box {
  margin-top: 150px; }

.language-option {
  color: black; }

#lyrics-box { overflow-y: scroll;
 width: 580px; }

.video-container {
  margin-left: 80px;
  margin-right: 40px;
  float: left; }

.input-xlarge { width: 220px; }

/* LINES AND LYRICS EDITING AREA */

.lyrics-container {
  margin: 10px; 
  float: left; 
  width: 230px; }

.lyrics-container.wide { 
  width: 640px;
  margin-left: 30px; 
  margin-top: 0px; 
  float: left; 
  max-height: 380px;
  overflow-y: scroll; }

.line { float: left; background-color: white; }

.lines-being-edited { float: left; 
  width: 500px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: -10px; }

.btn-uniform-width { float: right; width: 60px; }

.tight-margins { margin: 2px !important; }

#edit-timing-slider { float: left; 
  width: 200px; 
  margin: 30px; }

/* SMALL LYRICS CONTAINER FOR THE VIDEO AS IT'S EDITED */

.lyrics-box.small { 
  height: 40px;
  width: 405px;
  top: 7px;
  left: 7px;
  border-radius: 7px; }

.small-lyrics-container {
  width: 180px;
  height: 30px;
  float: left;
  margin: 4px; }

/* --------------------------------------------------- */

.center-pill {
  margin-right: auto; 
  margin-left: auto; 
  width: 142px;
  text-align: center; }

.center-pill-wide {
  margin-right: auto; 
  margin-left: auto; 
  width: 212px;
  text-align: center; }

.language-video-option {
  text-align: left; }

.language-translation-option {
  text-align: left; }

#timer-box { position: absolute;
  left: -45px;
  top: 90px; }

#timer {  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #9B59BB;
  text-align: center; }

#big-timer {  color: white;
  line-height: 90px; }

/*  --------- CONTROLS BELOW VIDEO --------- */

#controls { position: relative; }
#settings { position: relative; top: -55px; height: 100px; }
#difficulty-settings { float: left; }

#loop-settings { float: right; 
  width: 300px; 
  height: 100px; 
  background-color: black; }

#loop-labels {
  float: left; 
  background-color: black;
  height: 104px; 
  width: 120px; }

#playback-slider { width: 240px; 
  margin: 20px;
  position: relative;
  left: 10px;
  top: -44px; }

#loop-slider { width: 260px; 
  margin: 20px;
  position: relative;
  top: -135px; }

.end-label { 
  font-size: 12px; 
  color: white; 
  background-color: #0F82F5; 
  text-align: center;
  border-radius: 10px;
  opacity: .9; 
  position: relative; 
  width: 30px; 
  height: 30px; 
  margin: 10px; 
  z-index: 1; }

.end-label#playback-left-label { top: 3px; }
.end-label#playback-right-label { top: -90px; left: 250px; }
.end-label#looping-left-label { background-color: #00FFFF; top: -85px; }
.end-label#looping-right-label { background-color: #00FFFF; top: -180px; left: 250px; }

#adjust-playback-label { margin-left: 15px; margin-top: 15px; }
#adjust-loops-label { margin-left: 15px; margin-top: 5px; }

.playback-handle.looping { 
  background-color: #00FFFF;
  opacity: 1; }

.loop-handle-label {
  font-size: 12px; 
  background-color: #134F5C;
  color: white;
  height: 15px; width: 15px; 
  position: relative;
  z-index: 2; }
.ui-rangeSlider-leftLabel.loop-handle-label { bottom: -24px; }
.ui-rangeSlider-rightLabel.loop-handle-label { bottom: -24px; }

.tight-pack { margin-left: 10px; margin-top: 10px; margin-right: 2px; }

select { width: 150px; }

/*  ---------------------------------------- */

#revise-timing-done { float: left; }
#editing-line-done { margin-left: 5px; }

.rounded { margin-right: 10px; border-radius: 10px !important; }
  
#red-arrow {  position: absolute; top: 110px; left: 320px; }
#red-arrow.shifted { left: 290px; }

#red-arrow-text-box {
  position: absolute;
  top: 90px;
  left: 365px;
  height: 20px; 
  width: 200px; }
#red-arrow-text-box.shifted { left: 335px; }

#language-options {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  text-align: left; }

#request-options {
  margin-left: auto;
  margin-right: auto; 
  width: 160px;
  text-align: left; }

.text-padding {
  margin: 3px;
  text-align: center; }