#lyrics-box { 
  max-height: 530px;
  width: 640px;
  margin-top: 53px; 
  float: left; 
  overflow-y: scroll; 
  margin: 8px; }

#lyrics-box.skinny { width: 320px;
  max-height: 530px; }

.line-container { float: left; width: 420px; padding: 4px;  }

.line-left-subcontainer { width: 180px; margin-bottom: 4px; margin-top: 4px; float: left; }

.line-right-subcontainer { width: 180px; margin-bottom: 4px; margin-top: 4px; margin-right: 4px; float: right; }

.exercise-transcript-line { padding: 4px; }
.transcript-line { padding: 4px; }
.transcript-line .lang1 { 
  display: inline-block;
  max-width: 380px; }

.line-timing { float: right; }
.line-container .line-timing {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: inline-block;
  height: 15px; }

.note-category { border-radius: 5px; }

/* * * Quiz Related * * */

.exercise-line { font-size: 14px; padding: 2px; }

.blank { width: 60px; font-size: 14px; height: 10px !important; position: relative; top: 2px; }

.you-got-it { float: right; color: green; font-style: italic; }

.current-line .blank { color: #0f82f5; }

#quiz-status { 
  font-size: 16px; 
  margin: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px; 
  color: green; 
  padding: 12px;
}

#quiz-status div { color: green; }

/* * * * * * */

.narrow-lyrics-container {
  width: 280px;
  height: 60px;
  float: left;
  margin: 10px; }

.show-video-box { position: relative; 
  overflow: visible;
  text-align: left; }

.wrapper { overflow: hidden; width: 600px; }

.commment { clear: both !important; }

.comment-text { margin-left: 20px;
  color: blue; 
  font-size: 12px;
  line-height: 0px; }

.btn-add-comment { margin: 10px; float: left; }

.lower-right-btn { position: absolute; 
  bottom: 20px; 
  right: 10px; 
  float: right; 
  width: 200px; }

.lower-left-btn { position: absolute; 
  bottom: 20px; 
  left: 10px; 
  float: right;
  width: 240px; }

.upper-left-btn { margin-left: 20px; 
  margin-top: 20px; 
  height: 200px; }

.upper-right-btn {
  float: right; 
  right: 20px;
  position: absolute; 
  top: 20px; 
  margin-bottom: 5px }

.button-container {
  background-color: white;
  float: right;
  width: 10px;
  border-top: 2px solid white }

#watch-again.video-finished {
  height: 315px;
  width: 420px;
  text-align: center;
  background-color: #f3f3f6; }

#star-empty {
  position: absolute; 
  top: 10px; 
  right: 102px; 
  color: #9b59bb; }

#star-full { 
  position: absolute;
  top: 10px; 
  right: 102px; 
  color: #0f82f5; }

