#new-translation-button { width: 600px; }

.span { height: 80px; }

.video-thumb-box {
  width: 120px;
  height: 150px;
  margin-right: 40px;
  margin-top: 20px;
  float: left; 
  border: solid 1px #888888; 
  box-shadow: 10px 10px 5px #888888;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px; 
  cursor: pointer; 
  position: relative; }

.video-thumb-box.frontpage-thumb-box {
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 40px; 
  height: 156px; }
.video-thumb-box .image-box { position: absolute; bottom: 15px; }
.video-thumb-box.frontpage-thumb-box .image-box { position: absolute; bottom: 0px; }
.video-thumb-box.user-thumb-box .image-box { position: absolute; bottom: 0px; }

.tiny-text { font-size: 12px; margin: 4px; }

.video-thumb-box.user-thumb-box {
  margin-right: 40px; }

.thumb-box-width { width: 140px; }

.index-button {  width: 600px;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: #9B59BB;
  position: relative;
  border-radius: 10px; }

#results-box {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  background-color: white; 
  min-height: 400px;
  margin-top: 30px; }

.button-text-wrapper { 
  padding-left: 30px; 
  padding-top: 30px; 
  text-align: center; 
  width: 270px; 
  position: relative;
  float: left; }

.translation-option { 
  padding-top: 20px; 
  padding-left: 40px; 
  padding-bottom: -10px;
  color: white; 
  width: 440px;
  height: 40px;
  float: right; }

label.index-page-label { float: left; }

.lang1-input { float: right; }
.lang2-input { float: right; }

.index-button-text { color: white; 
  font-size: 20px; 
  line-height: 18px; 
  float: left; 
  text-align: center; }
.smaller { font-size: 15px !important ; }
.tiny { font-size: 13px; }

.short-text-box { width: 165px; position: relative; left: -12px; top: 1px; }

.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden; }

ul.ui-autocomplete.ui-menu { background-color: white; list-style-type: none; } 

li.ui-autocomplete.ui-menu { color: black; } 

#progress-bar { width: 250px; 
  position: relative;
  left: -12px; }