.lyrics { text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px; 
  text-shadow: 2px 2px 2px black }

.wrapper { overflow: hidden; width: 600px; }

.black { color: black; text-shadow: 2px 2px 2px white }
.white { color: white; text-shadow: 2px 2px 2px black }

.show-video-box { position: relative; 
  overflow: visible;
  text-align: left; }

.lyrics-box { background: rgba(0, 0, 0, .3);
  height: 80px;
  width: 610px;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  position: absolute; 
  overflow: auto; }

.text-container { margin-top: 10px; margin-bottom: 10px; }

#lyrics-settings { position: absolute; top: 354px; left: 360px; }

#lyrics-settings-dropdown { position: absolute; top: 374px; left: 288px; width: 60px; }

.wide-lyrics-container {
  width: 630px;
  height: 60px;
  float: left; 
  margin-top: 1px;
  margin-bottom: 1px; }

.narrow-lyrics-container {
  width: 280px;
  height: 60px;
  float: left;
  margin: 10px; }

.button-container {
  background-color: white;
  float: right;
  width: 10px;
  border-top: 2px solid white }