#globe-box {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}

#country-results {
  z-index: 1; 
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute; 
  font-size: 11px;
}

.country {
  cursor: pointer;
}

#instructions {
  float: left;  
  text-align: center;
  width: 180px;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
