<p>
  I first heard about Teju Cole on Twitter. Teju Cole has, at the time of this writing, 120,164 followers on Twitter.
  The symbol for Twitter is a bird. There is a bird on the cover of my copy of Open City. 
</p>

<p>
  Coincidence? Yes. No.

  * The three bird passages in the book.
  * The empathy you feel for the birds and their red hearts.
  * Julius as one lone soul, sole among the bustling city.
  * The endless erudite references to music and books, baiting the affection of anyone who feels the allure of escape ina  cultural or intellectual tradition to emphathize keenly with this lone wanderer. 
  * The trite "lesson" we're supposed to take away from this is empathy for every little soul, human connection.
  * Cole gestures at this in the second bird passage. The Medieval idea that God looks over each bird.
  * This is also a truism about Twittr. Connections between strangers, empathy between strangers. Batkid. Facebook organ donation.
  
  * Our sympathy for him is extinguished when we learn what he has done.
  * There's a level of falsehood to the openness idea. Related to the question of, "do we truly know others?" Cole asks and answers the question, "do we even know ourselves?", in the negative.
  * On the birds, in the first pages: "... how our life below might look from their perspective."
  * Metaphors of God, of absolute truth, and of the Internet. Increasingly, we have a global view of the deeds and words of the world. Like birds looking down -- it's an "Open" City for us. 
    * The nameless friend, who has to move away.
    * The vacation he takes, the micro-globalization in the Internet cafe.
    * How easily he befriends the rich doctor and the angry young Muslim man, but how impermanent their connections.
  * But of course not really open. What's in the heart isn't open. It's the overwhelming silence, his failure to comment on the alleged rape while he goes on to chatter and chatter about everything else. 

  * Julius becomes the dying bird in the final scene, life in the balance as he works his way down the slippery fire escape. We're torn about what to feel for him -- we want him to live but also, cruelly, we wonder if maybe he should die, because of what he did. He flips the metaphor -- at first we were with him, watching the city from his point of view, witnessing his interactions with the friends and muggers and lovers who cross his path -- and now he is a stranger to us, and we've gone from cheering him on, hearts keening at his empathy and wincing at his pain, to a callous kind of indifference to him. 
  * This isn't a guide to how to live in the "Open City." It's a very sad reminder of what it's like to be a stranger, to others and to one's self. And ultimately that's what a city is about. As the tweets roll in and the cities boom and expand and the world becomes one big open city, reminder that breaks our heart. 
</p>