$ ->

  youtube_id = $('#data').attr('data-youtube-id')
  lang1 = $('#data').attr('data-lang-one')
  lang2 = $('#data').attr('data-lang-two')
  window.lang1 = lang1
  window.lang2 = lang2
  interp_id = $('#data').attr('data-interp-id')
  window.interp_id = interp_id
  action_name = $('#data').attr('data-action-name')
  translation_type = $('#data').attr('data-translation-type')
  published = $('#data').attr('data-published')
  translator_name = $('#data').attr('data-translator-name')
  translator_image_url = $('#data').attr('data-translator-image-url') || null
  console.log youtube_id + " " + lang1 + " " + lang2 + " " + interp_id + " " + action_name + " "+ translation_type + " " + translator_name

  if $('#data').attr('data-clip') isnt null
    window.start = parseInt($('#data').attr('data-start'))
    window.duration = parseInt($('#data').attr('data-duration'))
    window.end = window.duration + window.start

  my_video = $('#data').attr('data-my-video')
  if my_video == 'true' then my_video = true
  if my_video == 'false' then my_video = false
  window.my_video = my_video

  $('.lyrics-container').addClass('tall')
  $('#settings').addClass('discuss-mode')

  formatTime = (time) ->
    time = Math.floor(time)
    if time <= 9 then formatted_time = "00:0" + time
    if 9 < time <= 59 then formatted_time = "00:" + time
    if 60 <= time < 540
      if time%60 <= 9 then formatted_time = "0" + Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = "0" + Math.floor((time)/60) + ":" + (time)%60
    if 540 <= time < 3600
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    formatted_time

  shortFormatTime = (time) ->
    time = Math.floor(time)
    if time <= 9 then formatted_time = ":0" + time
    if 9 < time <= 59 then formatted_time = ":" + time
    if 60 <= time < 540
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    if 540 <= time < 3600
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    formatted_time

  window.loop_length = false
  window.valuesChanging = false
  window.quiz_making_mode = false
  window.quiz_words = []
  window.tool_helptip_displayed = false
  window.editing_line = 'off'
  window.editing_line_timing = 'off'
  window.editing_line_ask_heyu = 'off'
  window.volume_slider_on = false
  window.loop_length_range_appended = false
  $('#timer-box').html('<div id="timer">
    <h2 class="timer-text" id="big-timer"></h2>
    </div>')
  $('#lyrics').hide()
  $('#timer').hide()

  sliderSetup = ->

    $('#settings').append("
      <div id='playback-buttons' class='upper-right-btn'>
        <div class='btn btn-info btn-small rounded tight-pack' id='play-again'> play again </div> 
        <div class='btn btn-info btn-small rounded tight-pack' id='volume'> <i class='icon-volume-up'></i>
          <div id='volume-slider'> </div>
       </div>
      </div>
      ")

    $('#play-again').livequery ->
      $(this).click ->
        $('.line').each(->
          $(this).removeClass('highlighted')
        )
        player.playVideo()

    $('#settings').append("
      <div class='upper-left-btn'>
        <div class='btn btn-info btn-small rounded tight-pack' id='just-lang-one'> #{lang1} </div>
        <div class='btn btn-info btn-small rounded tight-pack' id='just-lang-two'> #{lang2} </div>
        <div class='btn btn-info btn-small rounded tight-pack' id='lang-one-and-lang-two'> both </div>
      </div>
      ")

    $('#just-lang-one').livequery ->
      $(this).click ->
        $('.line').each(->
          $(this).children().eq(1).slideUp().removeClass('wide-lyrics-container')
          $(this).children().eq(0).slideDown().addClass('wide-lyrics-container')
        )

    $('#just-lang-two').livequery ->
      $(this).click ->
        $('.line').each(->
          $(this).children().eq(1).slideDown().addClass('wide-lyrics-container')
          $(this).children().eq(0).slideUp().removeClass('wide-lyrics-container')
        )

    $('#lang-one-and-lang-two').livequery ->
      $(this).click ->
        $('.line').each(->
          $(this).children().eq(1).slideDown().removeClass('wide-lyrics-container')
          $(this).children().eq(0).slideDown().removeClass('wide-lyrics-container')
        )

    $('#settings').append("
      <div id='loop-settings'>
        <div class='playback-left-label end-label'><div class='playback-left-label inner-label'></div></div>
          <div id='playback-slider'></div>
        <div class='playback-right-label end-label'><div class='playback-right-label inner-label'></div></div>
        <div id='loop-status'></div>
      </div>")

    $('#settings').append("
      <div id='user-info' style='position: absolute; bottom: 10px; margin-left: 20px;'>
        <p id='user-name'> Translated by #{translator_name} </p>
      </div>
      ")

    if window.my_video == true
      $('#user-name').html("Translated by you")
      $('#user-name').append("
        &nbsp;
        <div class='btn btn-primary btn-small rounded tight-pack' id='edit'> edit </div> 
      ")
      $('#vote-button-container').hide()

    $('#edit').livequery ->
      $(this).click ->
        window.location.href = "/interpretations/#{window.interp_id}/edit/"
    
    if translator_image_url isnt null
      $('#user-name').append("<img src=#{translator_image_url} class='profile-thumbnail'>")

  sliderSetup()

  playbackControls = (video_duration) ->

    $('.playback-left-label.inner-label').html("#{shortFormatTime(window.start)}")
    $('.playback-right-label.inner-label').html("#{shortFormatTime(window.end)}")

  straightPlaybackBehavior = ->

    if $('#playback-slider').hasClass('ui-rangeSlider')
      $('#playback-slider').rangeSlider('destroy')

    $('.ui-slider-handle').addClass('loop-handle-label')

    $('#playback-slider').slider(
      min: window.start,
      max: window.end,
      value: window.time,
      step: 1
      slide: (event, ui) ->
        player.seekTo($('#playback-slider').slider("value"))
    )

# YOUTUBE PLAYER COMES IN HERE

  window.rollover_pause = false

  tag = document.createElement("script")
  tag.src = "https://www.youtube.com/iframe_api"
  firstScriptTag = document.getElementsByTagName("script")[0]
  firstScriptTag.parentNode.insertBefore tag, firstScriptTag

  window.section = 0 
  window.time = 0
  window.got_volume = false

  window.onYouTubeIframeAPIReady = ->
    player = new YT.Player("new-video-box", {
      height: "315"
      width: "420"
      videoId: youtube_id
      playerVars: 
        {
        controls: 0
        cc_load_policy: 1
        }
      events:
        onReady: onPlayerReady
        onStateChange: onPlayerStateChange })
    console.log "Checking for cc..." + player.getOptions().indexOf('cc')
    window.player = player

  onPlayerReady = (event) ->
    video_duration = window.player.getDuration()
    window.video_duration = video_duration
    playbackControls(video_duration)
    if window.loop_length == false
      straightPlaybackBehavior()
    player.seekTo(window.start)
    event.target.playVideo()

    # CONTROLS FOR LONG VIDEOS COME IN HERE    
    if video_duration > 300
      longVideoControls()

  countVideoPlayTime = ->

    exact_time = player.getCurrentTime()
    window.time = Math.floor(exact_time)
    this_line = $("[data-time=#{window.time}]")

    if this_line.length != 0
      unless this_line.hasClass('highlighted')
        this_line.effect("highlight", { color: "yellow" }, 4000)
        this_line.addClass("highlighted")
        if this_line.prev().prev().length != 0
          $("#lyrics-box").scrollTo(this_line.prev().prev(), { duration : 250 } )
        else
          if this_line.prev().length != 0
            $("#lyrics-box").scrollTo(this_line.prev(), { duration : 250 } )
          else
            $("#lyrics-box").scrollTo(this_line, { duration : 250 } )

    current_loop_time = window.loop_length * window.section
    current_loop_end = window.end

    # PLAYBACK SLIDER MOVES HERE
    if window.loop_length is false and window.valuesChanging is false
      $('#playback-slider').slider("value", window.time)
      $('#playback-slider').children().html(shortFormatTime(window.time))

    fadeOut = ->
      if window.got_volume == false
        window.volume = player.getVolume()
        window.got_volume = true
        halfVolume = 0.5 * window.volume
        quarterVolume = 0.25 * window.volume
        tinyVolume = 0.1 * window.volume
        player.setVolume(halfVolume)
        softAndSlow = ->
          player.setVolume(quarterVolume)
        window.setTimeout(softAndSlow, 500)
    if window.time > window.end
      window.looping = true
      fadeOut()
      player.seekTo(window.start)
      player.pauseVideo()

  counter = setInterval(countVideoPlayTime, 400)
  done = false

  onPlayerStateChange = (event) ->
    if event.data == YT.PlayerState.PAUSED
      exact_time = player.getCurrentTime()
      window.time = Math.round(exact_time)
      window.section = window.time / window.loop_length

  delayedShow = -> 
    window.player.playVideo()
  window.setTimeout(delayedShow, 1000)
    
  $("#forward").livequery ->
    $(this).click -> 
      console.log "forward"
      if window.loop_length != false
        window.section += 1
        window.player.seekTo(window.loop_length * window.section, true)
        $('#loop-slider').rangeSlider("values", window.loop_length * window.section, window.loop_length * (window.section + 1))
        $('.ui-rangeSlider-leftLabel.loop-handle-label').children(':first').html("<div class='text-padding'>#{shortFormatTime(window.loop_length * window.section)}</div>")
        $('.ui-rangeSlider-rightLabel.loop-handle-label').children(':first').html("<div class='text-padding'>#{shortFormatTime(window.loop_length * (window.section + 1))}</div>")
      else
        player.seekTo(window.time + 15)

  $("#backward").livequery ->
    $(this).click -> 
      console.log "backward"
      if window.loop_length != false
        window.section -= 1
        window.player.seekTo((window.section - 1) * window.loop_length, true)
        $('#loop-slider').rangeSlider("values", window.loop_length * (window.section - 1), window.loop_length * window.section)
        $('.ui-rangeSlider-leftLabel.loop-handle-label').html("<div class='text-padding'>#{shortFormatTime(window.loop_length * (window.section - 1))}</div>")
        $('.ui-rangeSlider-rightLabel.loop-handle-label').html("<div class='text-padding'>#{shortFormatTime(window.loop_length * window.section)}</div>")
      else
        if window.time > 14
          player.seekTo(window.time - 15)
        else
          player.seekTo(0)

  $('.vote-button').livequery ->
    $(this).click ->
      if window.user_id == null
        $('.vote-button-status').html("<b><i>Please sign in to vote on videos.</i></b>")
      else
        if $(this).hasClass('btn-primary')
          $('.vote-button').removeClass('btn-primary')
        else
          $('.vote-button').removeClass('btn-primary')
          $(this).addClass('btn-primary')
        $.post('/downvote', { 'interp' : { 'id' : "#{interp_id}", 'difficulty' : "#{$(this).attr('value')}" } })
