$ ->

  strip = (str) -> 
    str = str.replace(/^\s+|\s+$/g, "").toLowerCase() # trim and force lowercase
    from = "ãàáäâèéëêìíïîòóöôùúüûñç"
    to = "aaaaaeeeeiiiioooouuuunc"
    for i in [0..from.length]
      str = str.replace(from.charAt(i), to.charAt(i))
    from = "\'\",.;"
    for i in [0..from.length]
      str = str.replace(from.charAt(i), '')
    str = str.replace(/(\r\n|\n|\r)/gm,"")
    return str

  formatTime = (time) ->
    time = Math.floor(time)
    if time <= 9 then formatted_time = "00:0" + time
    if 9 < time <= 59 then formatted_time = "00:" + time
    if 60 <= time < 540
      if time%60 <= 9 then formatted_time = "0" + Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = "0" + Math.floor((time)/60) + ":" + (time)%60
    if 540 <= time < 3600
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    formatted_time

  shortFormatTime = (time) ->
    time = Math.floor(time)
    if time <= 9 then formatted_time = ":0" + time
    if 9 < time <= 59 then formatted_time = ":" + time
    if 60 <= time < 540
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    if 540 <= time < 3600
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    formatted_time

  youtube_id = $('#data').attr('data-youtube-id')
  window.video_id = parseInt($('#data').attr('data-video-id'))

  tag = document.createElement("script")
  tag.src = "https://www.youtube.com/iframe_api"
  firstScriptTag = document.getElementsByTagName("script")[0]
  firstScriptTag.parentNode.insertBefore tag, firstScriptTag

  window.max_score = parseInt($('#data').attr('data-max-score'))
  window.section = 0 
  window.time = 0
  window.got_volume = false
  window.video_play_counter = 0

  if $('.star').attr('id') == 'star-full'
    window.star_id = parseInt($('#star-full').attr('data-star-id'))

  # WE GOTTA HAVE A PLAYBACK SLIDER

  $('#settings').append("
    <div class='playback-left-label end-label'><div class='playback-left-label inner-label'></div></div>
      <div id='playback-slider'></div>
    <div class='playback-right-label end-label'><div class='playback-right-label inner-label'></div></div>
  ")

  playbackControls = (video_duration) ->
    $('.playback-left-label.inner-label').html(":00")
    $('.playback-right-label.inner-label').html("#{shortFormatTime(video_duration)}")
  
    $('#playback-slider').slider(
        min: 0,
        max: video_duration,
        value: window.time,
        step: 1
        stop: (event, ui) ->
          player.seekTo($('#playback-slider').slider("value"))
          window.sliding = false
        slide: (event, ui) ->
          window.sliding = true
          $('#playback-slider').children().html(shortFormatTime(ui.value))
      )

  window.onYouTubeIframeAPIReady = ->
    player = new YT.Player("new-video-box", {
      height: "315"
      width: "420"
      videoId: youtube_id
      playerVars: 
        {
        controls: 0
        cc_load_policy: 1
        wmode: "opaque"
        }
      events:
        onReady: onPlayerReady
        onStateChange: onPlayerStateChange })
    console.log "Checking for cc..." + player.getOptions().indexOf('cc')
    window.player = player

  onPlayerReady = (event) ->
    video_duration = window.player.getDuration()
    window.video_duration = video_duration
    window.half_duration = video_duration * .5
    playbackControls(video_duration)
    if window.loop_length == false
      straightPlaybackBehavior()
    event.target.playVideo()

  countVideoPlayTime = ->

    # IF PLAYER IS PLAYING, UPDATE THE PLAY COUNTER
    state = player.getPlayerState()
    if state == 1
      window.video_play_counter += 1
    if state == 0
      $('#watch-again').addClass('video-finished')
      $('#watch-again').html('<br><br><br><br><br><h3 class="link-style">Watch again?</class></h3>')
      $('iframe').remove()
      if window.video_play_counter + 10 > window.video_duration
        $.post("/update_playcount/#{window.playcount_id}", (data) ->
          new_playcount = data.data.play_count
          $('#video-play-counter').html(new_playcount)
        )
        window.video_play_counter = 0
      $('#watch-again').after('<div id="new-video-box"></div>')
    
    # UI RESPONDS AS VIDEO PLAYS
    exact_time = player.getCurrentTime()
    window.time = Math.floor(exact_time)

    if $("[data-time=#{window.time}]").length != 0
      if $('.translation-area').length > 0
        this_line = $(".line-container[data-time=#{window.time}]").eq(0)
      else if $('.transcript-area').length > 0 
        this_line = $(".transcript-line[data-time=#{window.time}]").eq(0)
      unless this_line.hasClass('highlighted')
        this_line.effect("highlight", { color: "#FFFF00" }, 4000)
        this_line.addClass("highlighted")
        if window.autoscroll == true
          $("#community-notes").scrollTo(this_line.prev().prev(), { duration : 250 } )

    # PLAYBACK SLIDER MOVES HERE
    unless window.sliding == true
      $('#playback-slider').slider("value", window.time)
      $('#playback-slider').children().html(shortFormatTime(window.time))

  counter = setInterval(countVideoPlayTime, 400)
  done = false

  onPlayerStateChange = (event) ->
    if event.data == YT.PlayerState.PAUSED
      exact_time = player.getCurrentTime()
      window.time = Math.round(exact_time)
      window.section = window.time / window.loop_length

  delayedShow = ->
    window.player.playVideo()
  window.setTimeout(delayedShow, 1000)

  $('#watch-again').livequery ->
    $(this).click ->
      onYouTubeIframeAPIReady()
      $('#watch-again').removeClass('video-finished')
      $('#watch-again').html('')

  window.score_counter = 0 
  $('.blank').eq(0).removeAttr('disabled')

  $('.blank').livequery ->
    $(this).keyup -> 
      val = $(this).val()
      missing_word = $(this).attr('data-missing-word')

      if strip(val) == strip(missing_word)
        $(this).parent().append("<div class='you-got-it'>You got it!</div>")
        $('.you-got-it').fadeOut(5000)
        $(this).replaceWith("<span style='color: green;'><strong>#{missing_word}<strong></span>")
        window.score_counter += 1
        $('#score').html("Your score: #{window.score_counter}/#{window.max_score}")
        $('.blank').eq(0).removeAttr('disabled')
        $('#exercise-instructions').html('')
        if window.score_counter == window.max_score
          $('#score').html("Well done! #{window.score_counter}/#{window.max_score}")
          if window.user_id isnt null
            $.post('/new_completed_exercise', { 'completed_exercise' : { 'user_id' : "#{window.user_id}", 'fill_exercise_id' : "#{window.fill_exercise_id}" } }, (data) ->
              console.log data
            )
