$ ->

  youtube_id = $('#youtube-id').html()
  lang1 = $('#lang1').html()
  lang2 = $('#lang2').html()
  interp_id = $('#interp-id').html()
  window.editing_line = 'off' 

# YOUTUBE PLAYER COMES IN HERE

  player = null
  window.rollover_pause = false

  tag = document.createElement("script")
  tag.src = "https://www.youtube.com/iframe_api"
  firstScriptTag = document.getElementsByTagName("script")[0]
  firstScriptTag.parentNode.insertBefore tag, firstScriptTag

  window.onYouTubeIframeAPIReady = ->
    player = new YT.Player("new-video-box",
      height: "315"
      width: "420"
      videoId: youtube_id
      events:
        onReady: onPlayerReady
        onStateChange: onPlayerStateChange)
    window.player = player 

  onPlayerReady = (event) ->
    event.target.pauseVideo()

  window.section = 0 
  window.time = 0
  window.loop = false

  countVideoPlayTime = ->
    exact_time = player.getCurrentTime()
    window.time = Math.round(exact_time)
    minutes = Math.floor(window.time / 60)
    if minutes < 10
      minutes = '0' + minutes
    seconds = window.time - minutes * 60
    if seconds < 10
      seconds = '0' + seconds
    $(".timer-text").html(minutes + ":" + seconds)

    # CALCULATING THE CURRENT LOOP START POINT IN INTEGER AND MM:SS FORMATS 
    current_loop_time = window.loop * window.section
    loop_minutes = Math.floor(current_loop_time / 60)
    if loop_minutes < 10
      loop_minutes = '0' + loop_minutes
    loop_seconds = current_loop_time - loop_minutes * 60
    if loop_seconds < 10
      loop_seconds = '0' + loop_seconds

    # CALCULATING LOOP END POINT IN INTEGER AND MM:SS FORMATS 
    current_loop_end = window.loop * (window.section + 1)
    loop_end_minutes = Math.floor(current_loop_end / 60)
    if loop_end_minutes < 10
      loop_end_minutes = '0' + loop_end_minutes
    loop_end_seconds = current_loop_end - (loop_end_minutes * 60)
    if loop_end_seconds < 10
      loop_end_seconds = '0' + loop_end_seconds

    # DISPLAYING THE TIMING ABOVE THE TRANSLATION INPUT LINES 
    if window.loop != false
      $(".current-loop-time").html(loop_minutes + ":" + loop_seconds + " to " + loop_end_minutes + ":" + loop_end_seconds)
    else
      $(".current-loop-time").html(minutes + ":" + seconds)

    # LOOPING HAPPENS HERE
    if window.loop != false
      if exact_time > (window.loop) * (window.section + 1) - .25
        player.seekTo(window.loop * window.section, true)

  counter = setInterval(countVideoPlayTime, 500)
  done = false

  onPlayerStateChange = (event) ->
    if event.data == YT.PlayerState.PAUSED
      exact_time = player.getCurrentTime()
      window.time = Math.round(exact_time)
      window.section = window.time / window.loop

  delayedShow = -> 
    window.player.playVideo()
  window.setTimeout(delayedShow, 1000)

  $('.edit-line').hover(
    ->
      $(this).attr('style','background-color: yellow;')
    -> 
      $(this).attr('style','background-color: white;'))
 
  $('.edit-line').livequery ->
    $(this).click ->
      if window.editing_line isnt 'on'
        $(this).attr('class','clicked')
        $(this).html("
          <div class='control-group'>
            <div class='controls'>
              <input type='text' class='input-xlarge edit-line-lang1'>
            </div>
          </div>")
        window.editing_line = 'on'

  $(".edit-line-lang1").livequery ->
    $(this).keyup (e) ->
      e.preventDefault
      if e.which == 13
        entry = this.value
        console.log "entry: #{entry}"
        $.post('/update_line', { 'line' : { 'lang1' : "#{entry}" } }, (data) ->
          console.log data.data )

  # LOGIC FOR THE INPUT LINES

  if $('#translation-type').html() == 'lang1_and_lang2'

    $(".lang1-line").livequery ->
      $(this).keyup (e) ->
        e.preventDefault
        if e.which == 13 and ($('.lang2-line').val() isnt '')
          entry = this.value
          that_entry = $('.lang2-line').val()
          console.log "entry: #{entry}, that_entry: #{that_entry}"
          time = $("#current-loop-time").text()
          $('#lang1-lyrics').append("<p><small><small>(#{time})</small></small>  #{entry}</p>")
          $('#lang2-lyrics').append("<p><small><small>(#{time})</small></small>  #{that_entry}</p>")
          $('.lang1-line').val('')
          $('.lang2-line').val('')
          time_in_seconds = parseInt(time.slice(3,5)) + parseInt(time.slice(0,2))*60
          $.post('/new_line', { 'line' : { 'lang1' : "#{entry}", 'lang2' : "#{that_entry}", 'time' : "#{time_in_seconds}", 'interpretation_id' : "#{interp_id}" , 'upvotes' : 0, 'downvotes' : 0  } }, (data) ->
            console.log data.data )
          window.section += 1
          $('.done-button').html('<div class="btn btn-info" id="done-button">Done</div>')
          $('.save-button').html('<div class="btn btn-info" id="save-button">Save</div>').effect('highlight')

    $(".lang2-line").livequery ->
      $(this).keyup (e) ->
        if e.which == 13 and ($('.lang1-line').val() isnt '')
          entry = this.value
          that_entry = $('.lang1-line').val()
          console.log "entry: #{entry}, that_entry: #{that_entry}"
          time = $("#current-loop-time").text()
          $('#lang2-lyrics').append("<p><small><small>(#{time})</small></small>  #{entry}</p>")
          $('#lang1-lyrics').append("<p><small><small>(#{time})</small></small>  #{that_entry}</p>")
          $('.lang1-line').val('')
          $('.lang2-line').val('')
          $('.lang1-line').focus()
          time_in_seconds = parseInt(time.slice(3,5)) + parseInt(time.slice(0,2))*60
          $.post('/new_line', { 'line' : { 'lang1' : "#{that_entry}", 'lang2' : "#{entry}", 'time' : "#{time_in_seconds}", 'interpretation_id' : "#{interp_id}" , 'upvotes' : 0, 'downvotes' : 0  } }, (data) ->
            console.log data.data )
          window.section += 1
          $('.done-button').html('<div class="btn btn-info" id="done-button">Done</div>')
          $('.save-button').html('<div class="btn btn-info" id="save-button">Saving...</div>')
          delayedShowSaved = ->
            $('.save-button').html('<div class="btn btn-info" id="save-button">Saved</div>')
          window.setTimeout(delayedShowSaved, 600)

  if $('#translation-type').html() == 'just_lang2'

    $(".lang2-line").livequery ->
      $(this).keyup (e) ->
        if e.which == 13
          entry = this.value
          console.log entry
          if entry isnt ''
            time = $("#current-loop-time").text()
            time_in_seconds = parseInt(time.slice(3,5)) + parseInt(time.slice(0,2))*60
            $('#lang2-lyrics').append("<p><small><small>(#{time})</small></small>  #{entry}</p>")
            $('.lang2-line').val('')
            $.post('/new_line', { 'line' : { 'lang1' : '', 'lang2' : "#{entry}", 'time' : "#{time_in_seconds}", 'interpretation_id' : "#{interp_id}" , 'upvotes' : 0, 'downvotes' : 0  } }, (data) ->
              console.log data.data )
          window.section += 1
          $('.done-button').html('<div class="btn btn-info" id="done-button">Done</div>')
          $('.save-button').html('<div class="btn btn-info" id="save-button">Saving...</div>')
          delayedShowSaved = ->
            $('.save-button').html('<div class="btn btn-info" id="save-button">Saved</div>')
          window.setTimeout(delayedShowSaved, 600)

  # LOGIC FOR CONTROLS

  $('#playing-in-loops').livequery -> 
    $(this).click ->
      if $(this).attr('class') == 'btn btn-warning rounded'
        console.log "Turning loops off."
        $(this).attr('class','btn btn-info rounded')
        $(this).html('Playing without loops')
        window.loop = false
        $("#loop-2").attr('class','btn btn-info rounded')
        $("#loop-4").attr('class','btn btn-info rounded')
        $("#loop-8").attr('class','btn btn-info rounded')
      else
        console.log "Turning loops on."
        $(this).attr('class','btn btn-warning rounded')
        $(this).html('<i>Playing video in loops</i>')
        window.loop = 4
        $("#loop-2").attr('class','btn btn-info rounded')
        $("#loop-4").attr('class','btn btn-warning rounded')
        $("#loop-8").attr('class','btn btn-info rounded')

  $("#loop-2").livequery ->
    $(this).click ->
      window.loop = 2
      window.section = window.time / 2
      $("#playing-in-loops").attr('class','btn btn-warning rounded')
      $("#playing-in-loops").html('<i>Playing video in loops</i>')
      $("#loop-2").attr('class','btn btn-warning rounded')
      $("#loop-4").attr('class','btn btn-info rounded')
      $("#loop-8").attr('class','btn btn-info rounded')

  $("#loop-4").livequery ->
    $(this).click ->
      window.loop = 4
      window.section = window.time / 4
      $("#playing-in-loops").attr('class','btn btn-warning rounded')
      $("#playing-in-loops").html('<i>Playing video in loops</i>')
      $("#loop-2").attr('class','btn btn-info rounded')
      $("#loop-4").attr('class','btn btn-warning rounded')
      $("#loop-8").attr('class','btn btn-info rounded')

  $("#loop-8").livequery ->
    $(this).click ->
      window.loop = 8
      window.section = window.time / 8
      $("#playing-in-loops").attr('class','btn btn-warning rounded')
      $("#playing-in-loops").html('<i>Playing video in loops</i>')
      $("#loop-2").attr('class','btn btn-info rounded')
      $("#loop-4").attr('class','btn btn-info rounded')
      $("#loop-8").attr('class','btn btn-warning rounded')

  $("#forward").livequery ->
    $(this).click -> 
      window.section += 1
      player.seekTo(window.loop * window.section, true)
      $("#looping-box").html(window.loop * window.section)

  $("#backward").livequery ->
    $(this).click -> 
      window.section -= 1
      player.seekTo(window.loop * window.section, true)
      $("#looping-box").html(window.loop * window.section)

  $("#timer-toggle").livequery ->
    $(this).click ->
      $("#timer-box").toggle()

  $("#rollover-toggle").livequery ->
    $(this).click ->
      if window.rollover_pause == false
        window.rollover_pause = true

  # SLIDER

  $("#slider").slider({
      value: 4,
      min: 0,
      max: 12,
      step: 1,
      height: 10 })