$ ->

  $('#lang1-input-translate').focusout ->
    $('#lang2-input-translate').focus()

  $('#results-box').hide()
  window.n = 0
  window.video_id = false
  window.langtwo_entered = false

  $('#ask-youtube').keyup ->
    $('#progress-bar').html('
      <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
    ')

  $('#ask-youtube').focus()

  $('#ask-youtube').autocomplete(
    source: (request, response) ->
      $.ajax(
        url:  "https://gdata.youtube.com/feeds/api/videos?q=#{request.term}&max-results=9&v=2"
        dataType: "xml",
        complete: (r) ->
          parser = new DOMParser
          xml = parser.parseFromString(r.responseText, "application/xml")
          window.xml = xml
          entries = xml.getElementsByTagName("entry")
          results = []
          window.results = []
          for e in entries
            console.log e
            item = ( label : e.getElementsByTagName("title")[0].textContent, value : (e.getElementsByTagName("id")[0].textContent).substr(e.getElementsByTagName("id")[0].textContent.length - 11) )
            results.push item
          $('#results-box').html('').show()
          for r in results
            $('#results-box').append("
              <div class='video-thumb-box result-thumb-box' data-youtube-id=#{r.value}>
                <div class='quiet'>#{r.label}</div>
                <strong class='center blue'>#{r.label.slice(0,30)}</strong>
                <br>
                <div class='image-box'>
                  <img alt='video_#{r.label}' src='http://img.youtube.com/vi/#{r.value}/1.jpg' />
                </div>
                <br>
              </div>")
          $('#ask-youtube').autocomplete('close')
          $('#progress-bar').children(':first').removeClass('active')
          $('#progress-bar').children(':first').children(':first').attr('style','width: 0%')
          response(results, (item) ->
            e.preventDefault()
            label: item.label
            value: item.value
          )
        )
      )

  $('.result-thumb-box').livequery ->
    $(this).click ->
      window.youtube_id = $(this).attr('data-youtube-id')
      window.title = $(this).children(':first').html()
      $.post('/new_video', { 'video' : { 'youtube_id' : "#{window.youtube_id}", 'title' : "#{window.title}" } }, (data) ->
        console.log data
        video_slug = data.video.slug
        window.location.href = "/videos/#{video_slug}"
      )
      