$ ->

  $('#community-notes').mouseup ->
    if window.getSelection
      selection = window.getSelection()
      range = selection.getRangeAt(0)
      span = document.createElement('span')
      span.className = 'highlight'
      range.surroundContents(span)
      $('.highlight').attr('style','background-color: yellow;')

  $('.highlight').livequery ->
    $(this).dblclick ->
      text = $(this).text()
      $('#lines').append("<div style='margin:30px;'>#{text}</div>")
      $(this).remove()