player = null

$ ->

  remove_accents = (str) ->
    str = str.replace(/^\s+|\s+$/g, "").toLowerCase() # trim and force lowercase
    from = "ãàáäâèéëêìíïîòóöôùúüûñç"
    to = "aaaaaeeeeiiiioooouuuunc"
    for i in [0..from.length]
      str = str.replace(from.charAt(i), to.charAt(i))
    return str

  type = $('#data').attr('data-quiz-type')
  name = $('#data').attr('data-quiz-name')
  description = $('#data').attr('data-quiz-description')
  interp_id = $('#data').attr('data-interp-id')
  youtube_id = $('#data').attr('data-youtube-id')
  title = $('#data').attr('data-video-title')
  translator = $('#data').attr('data-translator-name')
  console.log "type: " + type
  console.log "name: " + name
  console.log "description: " + description
  console.log "youtube_id: " + youtube_id
  $('#title-box').html("<h3>#{name}</h3>")

  window.keep_going = true
  window.pause_time = false
  $('#lyrics').addClass('quizframe')
  $('#lyrics-box').attr('id','quiz-box')
  $('#quiz-box').hide()

  $('#settings').append("
    <div class='quiz-report'>
      Video: #{title}
      <br>
      Quiz instructions: #{description}
      <br>
      Video translator: #{translator}
      <br>
      Quiz author: 
    </div>")

  $('#settings').append("<div id='score'></div>")
  window.score = 0

  # BLANK OUT MISSING WORDS FOR VOCABULARY QUIZZES 

  arr = []
  $('.line').each(->
    split = $(this).children(':first').lettering('words')
    $(this).html(split)
    $(this).hide()
    arr.push parseInt($(this).attr("data-time"))
  )
  console.log arr

  # PREP LINES TO BE CLICKED FOR GRAMMAR QUIZZES 

  $('[class^="word"]').livequery ->
    $(this).click ->
      this_word = $(this)
      if window.words.indexOf(this_word.html()) > -1
        this_word.addClass('blue')
        window.score += 1
        $('#score').html(window.score)
        window.keep_going = true
      else
        this_word.addClass('red')
        if window.score > 0
          window.score -= 1
          $('#score').html(window.score)
        window.keep_going = false

  quiz = (array, time) ->

    if window.keep_going == true 

      player.playVideo()

      if array.indexOf(time) > -1

        langOneArray = []
        this_line = $("[data-time^=#{time}]")

        this_line.children(':first').children().each(->
          if $(this).text() != ''
            langOneArray.push $(this).text().replace /,/, ''
        )
        for w in window.words
          if langOneArray.indexOf(w) > -1
            console.log w

        $('#quiz-box').html(this_line.html())
        $('#quiz-box').slideDown()

        delayedStop = ->
          window.keep_going = false

        duration = 1000 * parseInt(this_line.attr('data-duration'))
        window.duration = duration
        
        unless isNaN(duration)
          window.setTimeout(delayedStop, duration)

    else 
      player.pauseVideo()
      
  tag = document.createElement("script")
  tag.src = "https://www.youtube.com/iframe_api"
  firstScriptTag = document.getElementsByTagName("script")[0]
  firstScriptTag.parentNode.insertBefore tag, firstScriptTag

  window.onYouTubeIframeAPIReady = ->
    player = new YT.Player("new-video-box", {
      height: "315"
      width: "420"
      videoId: youtube_id
      playerVars: 
        {
        controls: 0
        cc_load_policy: 1
        }
      events:
        onReady: onPlayerReady })

    console.log "Checking for cc..." + player.getOptions().indexOf('cc')
    window.player = player

  onPlayerReady = (event) ->
    event.target.playVideo()

  countVideoPlayTime = ->

    exact_time = player.getCurrentTime()
    time = Math.round(exact_time)
    window.time = time
    do_quiz = quiz(arr, time)

  counter = setInterval(countVideoPlayTime, 250)

  onPlayerStateChange = (event) ->
    if event.data is YT.PlayerState.PLAYING and not done
      done = true

  done = false