player = null

$ ->

  strip_accents = (str) ->
    str = str.replace(/^\s+|\s+$/g, "").toLowerCase() # trim and force lowercase
    from = "ãàáäâèéëêìíïîòóöôùúüûñç"
    to = "aaaaaeeeeiiiioooouuuunc"
    for i in [0..from.length]
      str = str.replace(from.charAt(i), to.charAt(i))
    return str

  strip_punctuation = (str) ->
    from = "\'\",.;"
    for i in [0..from.length]
      str = str.replace(from.charAt(i), '')
    str = str.replace(' ', '')
    str = str.replace(/(\r\n|\n|\r)/gm,"")
    return str

  words = []
  for w in window.words
    words.push strip_punctuation(w)
  console.log words 

  type = $('#data').attr('data-quiz-type')
  name = $('#data').attr('data-quiz-name')
  description = $('#data').attr('data-quiz-description')
  interp_id = $('#data').attr('data-interp-id')
  youtube_id = $('#data').attr('data-youtube-id')
  title = $('#data').attr('data-video-title')
  translator = $('#data').attr('data-translator-name')
  console.log "type: " + type
  console.log "name: " + name
  console.log "description: " + description
  console.log "youtube_id: " + youtube_id
  $('#title-box').html("<h3>#{name}</h3>")

  window.question_asked = false
  window.right_answer = false
  window.this_line_end_time = false

  $('#lyrics-box').after("<div id='quiz-box'></div>")
  $('#lyrics-box').hide()
  $('#quiz-box').hide()

  $('#settings').append("
    <div class='quiz-report'>
      Video: #{title}
      <br>
      Quiz instructions: #{description}
    </div>")

  $('.quiz-report').append("<br><br><br><div id='score-box'><p>Your score:</p><div id='score'></div></div>")
  window.score = 0

  # BLANK OUT MISSING WORDS FOR VOCABULARY QUIZZES 

  window.arr = []
  window.total_points = 0
  $('.line').each(->
    split = $(this).children(':first').lettering('words')
    $(this).html(split)

    console.log split 

    split.children().each(->
      punctuation_stripped = strip_punctuation($(this).text())
      $(this).text(punctuation_stripped)
      console.log $(this).text()
      if words.indexOf($(this).text()) > -1
        console.log $(this).text()
        window.total_points += 1
        console.log window.total_points
    )

    window.arr.push parseInt($(this).attr("data-time"))

  )

  # PREP LINES TO BE CLICKED FOR GRAMMAR QUIZZES 

  $('[class^="word"]').livequery ->
    $(this).click ->
      this_word = $(this)
      if words.indexOf(this_word.html()) > -1
        this_word.addClass('blue')
        window.score += 1
        $('#score').html(window.score + " / " + window.total_points)
        window.right_answer = true
      else
        this_word.addClass('red')
        if window.score > 0
          window.score -= 1
          $('#score').html(window.score + " / " + window.total_points)
        window.right_answer = false

  $('[class^="word"]').attr('style','cursor: pointer;')

  quiz = (array, time) ->

    if window.score == window.total_points
      $('#quiz-box').addClass('success').html("All done!")

    if array.indexOf(time) > -1

      this_line = $("[data-time^=#{time}]")
      window.this_line_end_time = parseInt(this_line.attr('data-time')) + parseInt(this_line.attr('data-duration'))
      index = window.arr.indexOf(time)
      window.arr.splice(index, 1)
      console.log window.arr

      langOneArray = []
      this_line.children(':first').children().each(->
        if $(this).text() != ''
          langOneArray.push $(this).text()
      )

      $('#quiz-box').html(this_line.html())
      $('#quiz-box').slideDown()
      window.question_asked = true
      window.right_answer = false

    if window.question_asked == true
      if time + 2 > window.this_line_end_time
        unless window.right_answer == true
          player.pauseVideo()
        else
          player.playVideo()

    console.log time + 2
    console.log window.this_line_end_time 

  tag = document.createElement("script")
  tag.src = "https://www.youtube.com/iframe_api"
  firstScriptTag = document.getElementsByTagName("script")[0]
  firstScriptTag.parentNode.insertBefore tag, firstScriptTag

  window.onYouTubeIframeAPIReady = ->
    player = new YT.Player("new-video-box", {
      height: "315"
      width: "420"
      videoId: youtube_id
      playerVars: 
        {
        controls: 0
        cc_load_policy: 1
        }
      events:
        onReady: onPlayerReady })

    console.log "Checking for cc..." + player.getOptions().indexOf('cc')
    window.player = player

  onPlayerReady = (event) ->
    event.target.playVideo()

  countVideoPlayTime = ->

    exact_time = player.getCurrentTime()
    time = Math.round(exact_time)
    window.time = time
    do_quiz = quiz(arr, time)

  counter = setInterval(countVideoPlayTime, 250)

  onPlayerStateChange = (event) ->
    if event.data is YT.PlayerState.PLAYING and not done
      done = true

  done = false