player = null

$ ->

  remove_accents = (str) ->
    str = str.replace(/^\s+|\s+$/g, "").toLowerCase() # trim and force lowercase
    from = "ãàáäâèéëêìíïîòóöôùúüûñç"
    to = "aaaaaeeeeiiiioooouuuunc"
    for i in [0..from.length]
      str = str.replace(from.charAt(i), to.charAt(i))
    return str

  type = $('#data').attr('data-quiz-type')
  name = $('#data').attr('data-quiz-name')
  description = $('#data').attr('data-quiz-description')
  console.log "type: " + type
  interp_id = $('#data').attr('data-interp-id')
  video_youtube_id = $('#data').attr('data-video-id')
  title = $('#data').attr('data-video-title')

  window.keep_going = true
  $('#lyrics').addClass('quizframe')
  $('.wrapper').addClass('quizframe')
  $('#below-video-box').hide()
  $('.wrapper').prepend('<div id="answer-box"></div>')
  $('#lyrics').hide()
  $('#lyrics-settings').hide()
  window.score = 0

  delayedFade = ->
    $('#quiz-info-box').fadeOut(3000)
  window.setTimeout(delayedFade, 60000)

  # BLANK OUT MISSING WORDS FOR VOCABULARY QUIZZES 

  lyrics = $('.lyrics')

  if type == 'vocabulary'
    for l in lyrics
      for w in window.words
        $(l).html().replace("#{w}", "____")

  # PREP LINES TO BE CLICKED FOR GRAMMAR QUIZZES 

  if type == 'grammar'
    for l in lyrics
      $(l).lettering('words')

    $('[class^="word"]').livequery ->
      $(this).click ->
        this_word = $(this)
        if window.words.indexOf(this_word.html()) > -1
          this_word.addClass('blue')
          window.score += 1
          $('#score').html(window.score)
          window.keep_going = true
        else
          this_word.addClass('red')
          if window.score > 0
            window.score -= 1
            $('#score').html(window.score)
          window.keep_going = false

  tag = document.createElement("script")
  tag.src = "https://www.youtube.com/iframe_api"
  firstScriptTag = document.getElementsByTagName("script")[0]
  firstScriptTag.parentNode.insertBefore tag, firstScriptTag

  window.onYouTubeIframeAPIReady = ->
    player = new YT.Player("show-video-box",
      height: "380"
      width: "630"
      videoId: video_youtube_id
      playerVars: 
        controls: 0
      events:
        onReady: onPlayerReady
        onStateChange: onPlayerStateChange)
    window.player = player

  onPlayerReady = (event) ->
    event.target.playVideo()

  countVideoPlayTime = ->
    array_builder = ->
      arr = []
      lyrics = $(".lyrics")
      jQuery.each lyrics, ->
        id = $(this).attr("id")
        arr.push id
      arr

    scroll = (array, time) ->

      time_id = 'lang2-' + time
      if array.indexOf(time_id) > -1
        $('.lyrics-box.quizframe').removeClass('success')
        this_time = time
        console.log "time: " + time
        console.log "this_time: " + this_time

        # FOR A VOCABULARY QUIZ: THIS LINE'S QUIZ WORD COMES IN HERE

        if type == 'vocabulary' 
          keyword = word_array[time]
          keyword = remove_accents(keyword)
          console.log keyword

          n = 0
          $(document).keypress( (e) ->
            if String.fromCharCode(e.keyCode) == keyword.charAt(n)
              $('#answer-box').append("#{keyword.charAt(n)}")
              # lyrics_html = $("##{id}").html()
              # lyrics_with_blanks = lyrics_html.replace("#{random_word}", "____")
              # $("##{id}").html(lyrics_with_blanks)
              n += 1
              console.log n
              console.log keyword.length
              if n == keyword.length
                q += 1
                $('#answer-box').html("")
                window.player.playVideo()
                $('.lyrics-box.quizframe').addClass('success')
                window.answered = true
                window.slid_down = false
                $("#score-text").html("<h2>#{q}/#{total}</h2>")
            )  

        # AUTO-PAUSE AT THE END OF A LINE HAPPENS HERE

        if window.time > time + duration - 2
          player.pauseVideo()
          window.keep_going = false

        if window.keep_going == true
          if $('#lyrics').attr('style') == "display: none;"
            $('#lyrics').slideDown()
            $('#score-box').slideDown()
          lang1 = $("#lang1-#{time}").html()
          lang2 = $("#lang2-#{time}").html()
          duration = parseInt($("#lang2-#{time}").attr('data-duration'))
          $("#lyrics").children().eq(0).html("<p class='lyrics white'>#{lang1}</p>").hide().slideDown(800)
          $("#lyrics").children().eq(1).html("<p class='lyrics white'>#{lang2}</p>").hide().slideDown(800)

    exact_time = player.getCurrentTime()
    time = Math.round(exact_time)
    window.time = time

    arr = array_builder()
    do_scroll = scroll(arr, time)

  onPlayerStateChange = (event) ->
    if event.data is YT.PlayerState.PLAYING and not done
      done = true

  counter = setInterval(countVideoPlayTime, 1000)
  done = false