$ ->
  
  $('#update-firstname').click ->
    firstname = $('#firstname').val()
    $.post('/update_user', { 'user_id' : "#{window.user_id}", 'firstname' : "#{firstname}" }, (data) ->
      console.log data
      $('#input-firstname-area').remove()
    )

  $('#update-lastname').click ->
    lastname = $('#lastname').val()
    $.post('/update_user', { 'user_id' : "#{window.user_id}", 'lastname' : "#{lastname}" }, (data) ->
      console.log data
      $('#input-lastname-area').remove()
    )

  $('#update-bio').livequery ->
    $(this).click ->
      bio = $('#bio').val()
      $.post('/update_user', { 'user_id' : "#{window.user_id}", 'bio' : "#{bio}" }, (data) ->
        console.log data
        $('#input-bio-area').replaceWith("
          <span id='user-bio'>#{data.data.bio}</span>
        ")
        $('#edit-bio-area').show()
      )

  $('#update-school').click ->
    school = $('[name="school"]').val()
    role = $('[name="role"]').val()
    $.post('/update_user', { 'user_id' : "#{window.user_id}", 'school' : "#{school}", 'role' : "#{role}" }, (data) ->
      console.log data
    )

  $('#edit-bio').livequery ->
    $(this).click -> 
      current_bio = $('#user-bio').html()
      $('#user-bio').replaceWith("
        <div id='input-bio-area'>
          <input type='text' id='bio' placeholder='#{current_bio}'>
          <div class='btn btn-primary rounded' id='update-bio'>Submit</div>
        </div>")
      $('#edit-bio-area').hide()

  $('.add-a-language').livequery ->
    $(this).click ->
      add_lang_html = "
        <br>
        <span style='font-size:40px;'>I...</span> <span style='font-size:50px;'>{</span>
        <span style='position: relative; bottom: 30px; left: 5px; font-size:20px;'>
          <input id='study' class='option-teach-study' type='radio'> study
        </span>
        <span style='position: relative; top: 10px; right: 68px; font-size: 20px;'>
          <input id='teach' class='option-teach-study' type='radio'> teach
        </span>
        <span style='position: relative; right: 45px;'>
          <input type='text' style='height: 40px; font-size: 20px;' placeholder='Enter language here' id='new-language'>
          <span style='font-size:40px;'>.</span>
          <div class='btn btn-primary rounded' id='create-new-interest'>Submit</div>
        </span>
        <br><br>"
      $('#add-language-area').html(add_lang_html)

  $('#new-language').livequery ->
    $(this).autocomplete(
      source: (request, response) ->
        $.ajax(
          url: "/language_list?term=#{request.term}",
          type: "POST", 
          dataType: "json",
          success: (data) ->
            console.log data
            response($.map(data.data, (item) ->
              label: item.name,
              value: item.name
            ))
        )
      )

  $('.option-teach-study').livequery ->
    $(this).click -> 
      $('.option-teach-study').prop('checked', false)
      $(this).prop('checked', true)

  $('#create-new-interest').livequery ->
    $(this).click ->
      language = $.trim($('#new-language').val())
      $.post('/find_language', { 'language' : "#{language}" }, (data) ->
        language_id = data.data.id
        checked = $('input:checked')
        if checked.attr('id') == 'teach'
          teach = 'true'
        else
          teach = 'false'
        $.post('/new_language_interest', { 'interest' : { 'user_id' : "#{window.user_id}", 'language_id' : "#{language_id}", 'teach' : "#{teach}" } }, (data) ->
          interest = data.data
          if interest.teach == true 
            window.init = "Teaches" 
          else 
            window.init = "Studying"
          language_id = interest.language_id
          $.post('/find_language_by_id', { 'language' : "#{language_id}" }, (data) ->
            console.log data.data
            console.log data.data.name
            new_lang_html = "<p class='big-friendly'>#{window.init} #{data.data.name}.</p>"
            $('#languages').append(new_lang_html)
          ) 
        )
      )

  $('.remove-language').livequery ->
    $(this).click ->
      id = parseInt($(this).attr('data-language-interest-id'))
      $.post('/remove_language_interest', { 'id' : "#{id}" }, (data) ->
        console.log data.data
        $("[data-language-interest-id=#{data.data.id}]").remove()
      )