$ ->

  formatTime = (time) ->
    time = Math.floor(time)
    if time <= 9 then formatted_time = "00:0" + time
    if 9 < time <= 59 then formatted_time = "00:" + time
    if 60 <= time < 540
      if time%60 <= 9 then formatted_time = "0" + Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = "0" + Math.floor((time)/60) + ":" + (time)%60
    if 540 <= time < 3600
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    formatted_time

  shortFormatTime = (time) ->
    time = Math.floor(time)
    if time <= 9 then formatted_time = ":0" + time
    if 9 < time <= 59 then formatted_time = ":" + time
    if 60 <= time < 540
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    if 540 <= time < 3600
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    formatted_time

  timeToWords = (time) ->
    time = Math.floor(time)
    if time < 60 then formatted_time = "less than a minute"
    if 60 <= time < 180 then formatted_time = "a few minutes" 
    if 180 <= time then formatted_time = "#{time/60} minutes" 
    formatted_time

  capitalizeString = (string) ->
    string.charAt(0).toUpperCase() + string.slice(1)

  youtube_id = $('#data').attr('data-youtube-id')
  window.video_id = parseInt($('#data').attr('data-video-id'))

  tag = document.createElement("script")
  tag.src = "https://www.youtube.com/iframe_api"
  firstScriptTag = document.getElementsByTagName("script")[0]
  firstScriptTag.parentNode.insertBefore tag, firstScriptTag

  window.section = 0 
  window.time = 0
  window.got_volume = false
  window.video_play_counter = 0
  window.adding_content = false

  # WE GOTTA HAVE A PLAYBACK SLIDER

  $('#community-notes').height($('#settings').height() + 225)

  $('#settings').append("
    <div class='playback-left-label end-label'><div class='playback-left-label inner-label'></div></div>
      <div id='playback-slider'></div>
    <div class='playback-right-label end-label'><div class='playback-right-label inner-label'></div></div>
  ")

  playbackControls = (video_duration) ->
    $('.playback-left-label.inner-label').html(":00")
    $('.playback-right-label.inner-label').html("#{shortFormatTime(video_duration)}")
  
    $('#playback-slider').slider(
        min: 0,
        max: video_duration,
        value: window.time,
        step: 1
        stop: (event, ui) ->
          player.seekTo($('#playback-slider').slider("value"))
        stop: (event, ui) ->
          player.seekTo($('#playback-slider').slider("value"))
      )

  window.onYouTubeIframeAPIReady = ->
    player = new YT.Player("new-video-box", {
      height: "315"
      width: "420"
      videoId: youtube_id
      playerVars: 
        {
        controls: 0
        cc_load_policy: 1
        wmode: "opaque"
        }
      events:
        onReady: onPlayerReady
        onStateChange: onPlayerStateChange })
    console.log "Checking for cc..." + player.getOptions().indexOf('cc')
    window.player = player

  onPlayerReady = (event) ->
    video_duration = window.player.getDuration()
    window.video_duration = video_duration
    window.half_duration = video_duration * .5
    playbackControls(video_duration)
    if window.loop_length == false
      straightPlaybackBehavior()
    event.target.playVideo()

    # CONTROLS FOR LONG VIDEOS COME IN HERE    
    if video_duration > 300
      longVideoControls()

  countVideoPlayTime = ->

    # IF PLAYER IS PLAYING, UPDATE THE PLAY COUNTER
    state = player.getPlayerState()
    if state == 1
      window.video_play_counter += 1
    if state == 0
      $('#watch-again').addClass('video-finished')
      $('#watch-again').html('<br><br><br><br><br><h3 class="link-style">Watch again?</class></h3>')
      $('iframe').remove()
      if window.video_play_counter + 10 > window.video_duration
        $.post("/update_playcount/#{window.playcount_id}", (data) ->
          new_playcount = data.data.play_count
          $('#video-play-counter').html(new_playcount)
        )
        window.video_play_counter = 0
      $('#watch-again').after('<div id="new-video-box"></div>')
    
    # UI RESPONDS AS VIDEO PLAYS
    exact_time = player.getCurrentTime()
    window.time = Math.floor(exact_time)
    this_line = $("[data-time=#{window.time}]")

    if this_line.length != 0
      unless this_line.hasClass('highlighted')
        this_line.children().effect("highlight", { color: "#FFFF00" }, 4000)
        this_line.addClass("highlighted")
        $("#community-notes").scrollTo(this_line.prev().children(':first'), { duration : 250 } )

    # PLAYBACK SLIDER MOVES HERE
    $('#playback-slider').slider("value", window.time)
    $('#playback-slider').children().html(shortFormatTime(window.time))

  counter = setInterval(countVideoPlayTime, 400)
  done = false

  onPlayerStateChange = (event) ->
    if event.data == YT.PlayerState.PAUSED
      exact_time = player.getCurrentTime()
      window.time = Math.round(exact_time)
      window.section = window.time / window.loop_length

  delayedShow = ->
    window.player.playVideo()
  window.setTimeout(delayedShow, 1000)

  $('#watch-again').livequery ->
    $(this).click ->
      onYouTubeIframeAPIReady()
      $('#watch-again').removeClass('video-finished')
      $('#watch-again').html('')

  # CHECK TO SEE IF A PLAYCOUNT EXISTS FOR THIS USER/VIDEO PAIR; IF NOT, CREATE ONE
  # CHECK TO SEE IF AN INTERPRETATION EXISTS FOR THIS USER/VIDEO PAIR; IF NOT, CREATE ONE

  if window.user_id isnt null
    $.post("/find_playcount/#{window.user_id}/#{window.video_id}", (data) ->
      if data.data is 'no-playcount'
        $.post("/new_playcount/#{window.user_id}/#{window.video_id}", (data) ->
          window.playcount_id = data.data.id
          window.playcount_value = data.data.play_count
          $('#video-play-counter').html(window.playcount_value)
        )
      else
        window.playcount_id = data.data.id
        window.playcount_value = data.data.play_count
        $('#video-play-counter').html(window.playcount_value)
    )
    $.post("/find_interp/#{window.user_id}/#{window.video_id}", (data) ->
      if data.data is 'no-interp'
        window.interp_id = 'none-yet'
      else
        window.interp_id = data.data.id
    )

  getInterpID = ->
    $.post("/new_interp/#{window.user_id}/#{window.video_id}", (data) ->
      window.interp_id = data.data.id)
  
  availableTags = [ "English", "Dutch", "Afrikaans"
    "Chinese (Mandarin)", "Cantonese", "Japanese", "Korean"
    "Vietnamese", "Thai", "Burmese", "Filipino", "Tagalog", "Hmong", "Khmer", "Lao" 
    "French", "Spanish", "Portuguese", "Italian", "Catalan", "Romanian", "Albanian"
    "Russian", "Polish", "Czech"
    "German", "Greek"
    "Welsh"
    "Norwegian", "Swedish", "Danish", "Finnish", "Icelandic"
    "Hebrew", "Arabic", "Persian", "Pashto", "Turkish"
    "Hindi", "Bengali", "Gujarati", "Punjabi", "Sindhi", "Urdu", "Marathi"
    "Telugu", "Tamil", "Malayalam", "Sinhala"
    "Latin"
    "Swahili", "Yoruba", "Xhosa", "Somali", "Amharic"
    "Javanese", "Malay", "Indonesian"
    "Kazakh", "Tajik", "Tibetan", "Uyghur", "Uzbek" ]

  availableTags.sort (a,b) ->
    return if a >= b then 1 else -1

  $('.tab').click -> 
    this_tab = $(this)
    if this_tab.hasClass('small')
      $('.big').removeClass('big').addClass('small')
      this_tab.addClass('big').removeClass('small')

  $('#new-content').click ->
    if window.adding_content == false
      $('.note-category').addClass('option')
      $('#notes-container').hide()
      $(this).attr('style','right: -1px;')
      window.adding_content = true

  backFromEditing = ->
    $('#notes-container').show()
    $('.note-area').show()
    $('#editing').html('')
    $('.note-category').removeClass('option')
    $('#add-new-note').removeAttr('style')
    window.adding_content = false

  $('#all-content').click ->
    backFromEditing()
    $('.other-user-content').show()

  $('#just-your-content').livequery ->
    $(this).click -> 
      $('.other-user-content').hide()
    
  $('#back-from-editing').livequery ->
    $(this).click ->
      backFromEditing()

  $('.option').livequery ->
    $(this).click ->
      if $(this).hasClass('option')
        category = $(this).attr('id')
        if category == 'vocabulary'
          $('#editing').html("        
            <span id='user-name'><h3>Add new vocabulary:</h3></span>
            <div id='vocab-list'></div>
            <input type='text' id='word-input' style='width: 150px;'> 
            = <input type='text' id='definition-input' style='width: 150px;'> 
            <br><br>
            <div id='submit-new-vocab' class='btn btn-primary btn-small rounded'> Submit </div>
            <div id='back-from-editing' class='btn btn-primary btn-small rounded'> Back </div>
          ")
        if category == 'multiple-choice'
          $('#editing').html("
            <span id='user-name'><h3>Add multiple-choice question:</h3></span>
            <input type='text' id='question-title' placeholder='Question title' style='width: 300px;'>
            <br><br>
            <li> &nbsp; <input type='text' class='mc-option' style='width: 200px;' placeholder='Option'> </li>
            <div class='new-multiple-choice-option'>
                <li> 
                &nbsp; <input type='text' class='new-multiple-choice-option' style='width: 200px;' placeholder='Click to add option' disabled=''> 
              </li>
            </div><br>
            <div id='submit-new-multiple-choice' class='btn btn-primary btn-small rounded'> Submit </div>
            <div id='back-from-editing' class='btn btn-primary btn-small rounded'> Back </div>
          ")
        if category == 'discussion-question'
          $('#editing').html("
            <h3>Add new discussion question:</h3>
            <input type='text' id='discussion-question-text'>
            <br>
            <div id='submit-new-discussion-question' class='btn btn-primary btn-small rounded'> Submit </div>
            <div id='back-from-editing' class='btn btn-primary btn-small rounded'> Back </div>
          ")
        if category == 'lyrics'
          $('#editing').html("
            <div id='lyrics-editing-options'>
              <span id='all-at-once' class='blue-link'>Add lyrics all at once?</span>
              <br><br>
              or
              <br><br>
              <span id='line-by-line' class='blue-link'>Transcribe lyrics line by line?</span>
            </div>
          ")
        if category == 'links'
          $('#editing').html("
            <h3>Add a relevant link:</h3>
            <input type='text' id='url'>
            <h3>Text excerpt:</h3>
            <textarea id='excerpt'></textarea>
            <h3>Language:</h3>
            <select id='language-select'></select>
            <br>
            <div id='submit-new-link' class='btn btn-primary btn-small rounded'> Submit </div>
            <div id='back-from-editing' class='btn btn-primary btn-small rounded'> Back </div>
          ")
          availableTags.forEach((language) ->
            $('#language-select').append("<option>#{language}</option>")
          )
        if category == 'tweets'
          $('#editing').html("
            <h3>Add a relevant tweet:</h3>
            <input type='text' id='url'>
            <br>
            <span class='tiny'><i>(Copy and paste the URL.)</i></span>
            <br><br>
            <div id='submit-new-tweet' class='btn btn-primary btn-small rounded'> Submit </div>
            <div id='back-from-editing' class='btn btn-primary btn-small rounded'> Back </div>
          ")

        $('#editing').append("
          <br><br>
          <div id='notice-area'></div>")

  postNewWord = (word, definition) ->
    $.post('/new_word', { 'word' : { 'interpretation_id' : "#{window.interp_id}", 'video_id' : "#{window.video_id}", 'user_id' : "#{window.user_id}", 'text' : "#{word}" } }, (data) ->
      word_id = data.data.id
      $('#vocab-list').append("
        <li>#{word} = #{definition} &nbsp; <div id=#{word_id} class='add-time btn btn-primary btn-petite rounded'> Add time </div>
        </li>
      ")
      $.post('/new_definition', { 'definition' : { 'word_id' : "#{word_id}", 'user_id' : "#{window.user_id}", 'text' : "#{definition}" } }, (data) ->
        definition_id = data.data.id
        if $('#current-user-definitions').length > 0
          $('#current-user-definitions').prepend("<li><a href=#{'/definitions/' + definition_id}>#{word} = #{definition}</a>")
        else
          $('#note-container').prepend("<li><a href=#{'/definitions/' + definition_id}>#{word} = #{definition}</a>")
      )
    )
    $('#word-input').val('')
    $('#definition-input').val('')

  $('#submit-new-vocab').livequery ->
    $(this).click ->
      if window.user == 'logged-out'
        $('#notice-area').html("<p style='color: #0f82f5;'><i>Please log in to add a new vocabulary word.</i></p>")
      else
        word = $('#word-input').val()
        definition = $('#definition-input').val()
        if word isnt '' and definition isnt '' and (word isnt definition)
          $('#none-yet').remove()
          if window.interp_id == 'none-yet'
            $.post("/new_interp/#{window.user_id}/#{window.video_id}", (data) ->
              window.interp_id = data.data.id
              postNewWord(word, definition)
              my_content_tab = "<div id='just-your-content' class='small tab'>Just yours<br><a href='/interpretations/#{data.data.id}' style='color:white;font-size:10px;position:relative;bottom:6px;'>(own page)</a></div>"
              $('#all-content').after(my_content_tab)
            )
          else
            postNewWord(word, definition)

  $('.submit-challenge-answer').livequery ->
    $(this).click ->
      challenge_id = parseInt($(this).attr('id').substring(17))
      console.log challenge_id
      $(".option-challenge-#{challenge_id}").each(->
        this_option = $(this)
        if this_option.is(":checked")
          option_id = parseInt(this_option.attr('id').substring(7))
          $.post('/new_option_vote', { 'option_vote' : { 'option_id' : "#{option_id}", 'user_id' : "#{window.user_id}" } }, (data) ->
            console.log data
            this_option.parent().addClass('blue')
          )
        )

  $('.new-multiple-choice-option').livequery ->
    $(this).click ->
      $(this).before("<li> &nbsp; <input type='text' class='mc-option' style='width: 200px;' placeholder='Option'> </li>")

  $('.add-time').livequery ->
    $(this).click ->
      window.word_id = parseInt($(this).attr('id'))
      $('.ui-slider-handle').addClass('vocab-time-selector')

  $('.vocab-time-selector').livequery ->
    $(this).dblclick ->
      $.post("/add_time_to_word", { 'word_id' : "#{window.word_id}", 'time' : "#{window.time}" }, (data) ->
        updated_time = data.data.time
        console.log updated_time
        $("##{window.word_id}").html(formatTime(updated_time))
        $('.ui-slider-handle').removeClass('vocab-time-selector')
      )

  $('#all-at-once').livequery ->
    $(this).click ->
      $(this).parent().before("
        <div id='lyrics-entering-area'>
          <textarea id='lyrics-textbox' style='width: 400px; height: 160px;'></textarea>
          <p><i>Copy and paste from your files.</i></p>
          <div id='submit-new-lyrics' class='btn btn-primary btn-small rounded'> Submit </div>
          <div id='back-to-lyrics-options' class='btn btn-primary btn-small rounded'> Back </div>
        </div>
      ")
      $('#lyrics-editing-options').hide()

  $('#back-to-lyrics-options').livequery ->
    $(this).click -> 
      $('#lyrics-editing-options').show()
      $('#lyrics-entering-area').remove()

  postNewLines = (lyrics) ->
    lines = lyrics.split('\n')
    for line in lines
      if line isnt '' 
        $.post('/new_line', { 'line' : { 'interpretation_id' : "#{window.interp_id}", 'lang1' : "#{line}" } }, (data) -> 
          console.log data
        )

  $('#submit-new-lyrics').livequery ->
    $(this).click ->
      if window.user == 'logged-out'
        $('#notice-area').html("<p style='color: #0f82f5;'><i>Please log in to add new lyrics.</i></p>")
      else
        lyrics = $('#lyrics-textbox').val()
        if window.interp_id == 'none-yet'
          $.post("/new_interp/#{window.user_id}/#{window.video_id}", (data) ->
            window.interp_id = data.data.id
            $('#all-content').after("<div id='just-your-content' class='small tab'>Just yours<br><a href='/interpretations/#{data.data.id}' style='color:white;font-size:10px;position:relative;bottom:6px;'>(own page)</a></div>")
            postNewLines(lyrics)
          )
        else
          postNewLines(lyrics)

  postNewLink = (url, excerpt, lang) -> 
    $.post('/new_link', { 'link' : { 'interpretation_id' : "#{window.interp_id}", 'url' : "#{url}", 'excerpt' : "#{excerpt}", 'user_id' : "#{window.user_id}", 'video_id' : "#{window.video_id}" }, 'lang' : "#{lang}" }, (data) -> 
      console.log data
      link_html = "<img height='25' src='http://g.etfv.co/#{data.data.url}' width='25' />" + "<strong><a href='#{data.data.url}'>#{data.data.url.split('/')[2]}</a></strong>" + "<p>#{data.data.excerpt}</p>"
      if $('#current-user-links').length > 0
        $('#current-user-links').prepend(link_html)
      else
        $('#notes-container').prepend("
          <p style='font-size: 16px;'>You added a new link: </p>
          #{link_html}")
      $('#none-yet').remove()
      backFromEditing()
    )

  $('#submit-new-link').livequery ->
    $(this).click -> 
      if window.user == 'logged-out'
        $('#notice-area').html("<p style='color: #0f82f5;'><i>Please log in to add a new link.</i></p>")
      else
        url = $('#url').val()
        excerpt = $('#excerpt').val()
        lang = $('#language-select').val()
        if window.interp_id == 'none-yet'
          $.post("/new_interp/#{window.user_id}/#{window.video_id}", (data) ->
            window.interp_id = data.data.id
            postNewLink(url, excerpt, lang)
          )
        else
          postNewLink(url, excerpt, lang) 

  postNewTweet = (twitter_id, tweeter) ->
    $.post('/new_tweet', { 'tweet' : { 'interpretation_id' : "#{window.interp_id}", 'tweeter' : "#{tweeter}", 'twitter_id' : "#{twitter_id}", 'user_id' : "#{window.user_id}", 'video_id' : "#{window.video_id}" } }, (data) -> 
      tweeter = data.data.tweeter
      twitter_id = data.data.twitter_id
      url = 'https://twitter.com/' + tweeter + '/' + 'statuses' + '/' + twitter_id
      console.log url
      if $('#current-user-tweets').length > 0
        $('#current-user-tweets').prepend("<blockquote class='twitter-tweet'><a href=#{url}></a></blockquote>
          <script async src='//platform.twitter.com/widgets.js' charset='utf-8'></script>")
      else
        $('#notes-container').prepend("<blockquote class='twitter-tweet'><a href=#{url}></a></blockquote>
          <script async src='//platform.twitter.com/widgets.js' charset='utf-8'></script>")
      $('#none-yet').remove()
      backFromEditing()
    )

  $('#submit-new-tweet').livequery ->
    $(this).click -> 
      if window.user == 'logged-out'
        $('#notice-area').html("<p style='color: #0f82f5;'><i>Please log in to add a new tweet.</i></p>")
      else
        tweet_url = $('#url').val().split('/')
        tweeter = tweet_url[3]
        twitter_id = tweet_url[5]
        if window.interp_id == 'none-yet'
          $.post("/new_interp/#{window.user_id}/#{window.video_id}", (data) ->
            window.interp_id = data.data.id
            postNewTweet(twitter_id, tweeter)
          )
        else
          postNewTweet(twitter_id, tweeter)

  postNewDiscussionQuestion = (question_text) ->
    $.post('/new_discussion_question', { 'discussion_question' : { 'interpretation_id' : "#{window.interp_id}", 'question_text' : "#{question_text}", 'user_id' : "#{window.user_id}", 'video_id' : "#{window.video_id}" } }, (data) -> 
      console.log data
      discussion_question = data.data.question_text
      if $('#current-user-discussion-questions').length > 0
        $('#current-user-discussion-questions').prepend(discussion_question)
      else
        $('#notes-container').prepend("
          <p style='font-size: 16px;'>You added a question: </p>
          #{discussion_question}
          <br>
        ")
      $('#none-yet').remove()
      backFromEditing()
    )

  $('#submit-new-discussion-question').livequery -> 
    $(this).click ->
      if window.user == 'logged-out'
        $('#notice-area').html("<p style='color: #0f82f5;'><i>Please log in to add a new discussion question.</i></p>")
      else
        question_text = $('#discussion-question-text').val()
        if window.interp_id == 'none-yet'
          $.post("/new_interp/#{window.user_id}/#{window.video_id}", (data) ->
            window.interp_id = data.data.id
            postNewDiscussionQuestion(question_text)
          )
        else
          postNewDiscussionQuestion(question_text)

  postNewChallengeQuestion = (challenge, options) ->
    $.post('/new_challenge', { 'challenge' : { 'interpretation_id' : "#{window.interp_id}", 'video_id' : "#{window.video_id}", 'user_id' : "#{window.user_id}", 'question_text' : "#{challenge}" } }, (data) ->
      challenge_id = data.data.id
      console.log "challenge = #{data.data.question_text}"
      new_challenge = "<p id='user-added-challenge'>#{data.data.question_text}</p>"
      if $('#current-user-challenges').length > 0
        $('#current-user-challenges').prepend(new_challenge)
      else
        $('#notes-container').prepend("
          <p style='font-size: 16px;'>You added a multiple-choice question: </p>
          #{new_challenge}
          <br>
        ")
      options.each(->
        $.post('/new_option', { 'option' : { 'challenge_id' : "#{challenge_id}", 'answer_text' : "#{$(this).val()}" } }, (data) ->
          console.log "option = #{data.data.answer_text}"
          $('#user-added-challenge').append("
              <p style='margin-left: 20px;'> <input type='checkbox' id='option-#{data.data.id}' class='option-challenge-#{challenge_id}'> #{data.data.answer_text} </p>
            ")
        )
      $('#editing').html('')
      $('#notes-container').show()
      )
    )

  $('#submit-new-multiple-choice').livequery ->
    $(this).click ->
      if window.user == 'logged-out'
        $('#notice-area').html("<p style='color: #0f82f5;'><i>Please log in to add a new multiple-choice challenge.</i></p>")
      else
        challenge = $('#question-title').val()
        options = $('.mc-option')
        if window.interp_id == 'none-yet'
          $.post("/new_interp/#{window.user_id}/#{window.video_id}", (data) ->
            window.interp_id = data.data.id
            postNewChallengeQuestion(challenge, options)
          )
        else
          postNewChallengeQuestion(challenge, options)

  $('#add-tag').click ->
    $('#tag-area').hide()
    $('#add-tag-action-prompt').hide()
    $('#new-tag-area').html("
      <div style='float: left; width: 180px;'>
        <span>New tag:<span>
        <br>
        <input id='new-tag' type='text' style='width: 160px; height: 18px; margin-top: 4px;'>
        <br>
        <div id='submit-new-tag' class='btn btn-primary btn-small rounded'> Submit </div>
        <div id='back-from-tagging' class='btn btn-primary btn-small rounded'> Back </div>
      </div>
      <div id='tag-types' style='float: right; width: 180px;'>
        <div style='width: 180px; float: left;'>
          <span>Tag description:</span>
        </div>
        <div style='width: 85px; float: left;'>
          <span class='tiny'><input type='checkbox' id='language' class='tag-type'>&nbsp; Language</span>
          <span class='tiny'><input type='checkbox' id='style' class='tag-type'>&nbsp; Style</span>
        </div>
        <div style='width: 85px; float: right;'>
          <span class='tiny'><input type='checkbox' id='difficulty' class='tag-type'>&nbsp; Difficulty</span>
          <span class='tiny'><input type='checkbox' id='artist' class='tag-type'>&nbsp; Artist</span>
        </div>
        <br>
      </div>
    ")

  $('#back-from-tagging').livequery ->
    $(this).click ->
      $('#tag-area').show()
      $('#add-tag-action-prompt').show()
      $('#new-tag-area').html("")

  $('.tag-type').livequery ->
    $(this).click ->
      if $(this).is(':checked')
        console.log "already checked"
      $('.tag-type').each(->
        $(this).prop("checked", false)
      )
      $(this).prop("checked", true)

  $('#new-tag').livequery -> 
    $('#new-tag').autocomplete(
      source: (request, response) ->
        matches = $.map(availableTags, (tag) ->
          tag  if tag.toUpperCase().indexOf(request.term.toUpperCase()) is 0)
        response matches
      minLength: 0
    )

  $('#submit-new-tag').livequery ->
    $(this).click ->
      if window.user_id == null
        $('#new-tag').val('Please log in first.')
      else
        new_tag = $('#new-tag').val()
        unless new_tag == '' or new_tag == 'Oops, enter a tag first.' or new_tag == 'Oops, select a tag description.'
          $("input:checkbox").each(->
            if $(this).is(":checked") then window.tag_type = $(this).attr('id')
          )
          unless window.tag_type == undefined
            $.post('/new_tag', { 'name' : "#{new_tag}", 'user_id' : "#{window.user_id}", 'video_id' : "#{window.video_id}", 'tag_type' : "#{window.tag_type}" }, (data) ->
              tag_category = $("##{window.tag_type + '-tags'}")
              console.log tag_category
              tag_url = "/tags/#{data.tag.id}"
              console.log tag_url
              if $.trim(tag_category.text()) == ''
                tag_category.html("
                  <span class='tiny'>#{capitalizeString(window.tag_type)}:</span> &nbsp;
                    <a href=" + tag_url + ">#{data.tag.name}</a>
                ")
                $('#no-tags-yet').remove()
              else
                tag_category.html($.trim(tag_category.html()))
                tag_category.append("<span>, <a href=" + tag_url + ">#{data.tag.name}</a></span>")
              $('#new-tag-area').html("")
              $('#tag-area').show()
              $('#add-tag-action-prompt').show()
            )
          else
            $('#new-tag').val('Select tag description?')
        else
          $('#new-tag').val('Oops, enter a tag first.')
          

  $('#done').livequery ->
    $(this).click -> 
      $('#user-input').html('')
      $('#community-notes').slideDown()

  $('#star-empty').click ->
    $(this).replaceWith("<i class='icon icon-star icon-2x star' id='star-full'> </i>")

  $('#toggle-show-lines').click ->
    $('.short-line').each(->
      $(this).children().eq(0).removeClass('quiet')
      $(this).children().eq(1).removeClass('quiet')
    )

  $('.note-category').click ->
    if $(this).hasClass('active')
      $(this).effect("highlight", { color: 'yellow' }, 3000)
      unless $(this).attr('id') == 'all'
        $('.note-area').hide()
        category = $(this).attr('id')
        $(".#{category}-area").show()
      else 
        $('.note-area').show()