player = null

$ ->

  $('#lyrics').hide()

  interp_id = $('#data').attr('data-interp-id')
  video_youtube_id = $('#data').attr('data-video-id')

  if $('#data').attr('data-clip') is 'true'
    clip = true
    clip_start = parseInt($('#data').attr('data-start'))
    clip_end = clip_start + parseInt($('#data').attr('data-duration'))

  tag = document.createElement("script")
  tag.src = "https://www.youtube.com/iframe_api"
  firstScriptTag = document.getElementsByTagName("script")[0]
  firstScriptTag.parentNode.insertBefore tag, firstScriptTag

  $("#publish-button").click ->
    if $("#user-id").attr('data-user') != "logged-out"
      $.post('/publish', { 'id' : "#{interp_id}" }, (data) ->
        console.log data.data )
      window.location.href = "/interpretations/#{interp_id}"
    else
      $("#edit-button").replaceWith("<p><a href='/sign_up?interp=#{interp_id}'><strong>Sign up for Heyu?</strong></a> That way your username will appear alongside your translation. Get props for excellent work!<br><br>If you've already signed up, be sure to <a href='/sign_in?interp=#{interp_id}'><strong>sign in</strong></a>.<br><br>Otherwise, <a href='/interpretations/#{interp_id}'>submit your translation anonymously.</a>")

  $("#edit-button").click ->
    if $("#user-id").attr('data-user') != "logged-out"
      window.location.href = "/interpretations/#{interp_id}/edit"
    else
      $('#publish-button').replaceWith("<p><a href='/sign_up?interp=#{interp_id}'><strong>Sign up for Heyu?</strong></a> That way your username will appear alongside your translation. Get props for excellent work!<br><br>If you've already signed up, be sure to <a href='/sign_in?interp=#{interp_id}'><strong>sign in</strong></a>.<br><br>Otherwise, <a href='/interpretations/#{interp_id}'>submit your translation anonymously.</a>")

  window.onYouTubeIframeAPIReady = ->
    player = new YT.Player("show-video-box",
      height: "380"
      width: "630"
      videoId: video_youtube_id
      events:
        onReady: onPlayerReady
        onStateChange: onPlayerStateChange)
    window.player = player

  onPlayerReady = (event) ->
    event.target.playVideo()

  countVideoPlayTime = ->
    array_builder = ->
      arr = []
      lyrics = $(".lyrics")
      jQuery.each lyrics, ->
        id = $(this).attr("id")
        arr.push id
      arr

    scroll = (array, time) ->
      time_id = 'lang2-' + time
      if array.indexOf(time_id) > -1
        if $('#lyrics').attr('style') == "display: none;"
          $('#lyrics').slideDown()
        lang1 = $("#lang1-#{time}").html()
        lang2 = $("#lang2-#{time}").html()
        duration = $("#lang2-#{time}").attr('data-duration')
        $("#lyrics").children().eq(0).html("<p class='lyrics white'>#{lang1}</p>").hide().slideDown(800)
        $("#lyrics").children().eq(1).html("<p class='lyrics white'>#{lang2}</p>").hide().slideDown(800)
        slideUpLyrics = -> 
          console.log "sliding up"
          $("#lyrics").children().eq(0).slideUp()
          $("#lyrics").children().eq(1).slideUp()
        window.setTimeout(slideUpLyrics, ((duration + .5) * 1000))

    exact_time = player.getCurrentTime()
    time = Math.round(exact_time)
    arr = array_builder()
    do_scroll = scroll(arr, time)

  onPlayerStateChange = (event) ->
    if event.data is YT.PlayerState.PLAYING and not done
      setTimeout stopVideo, 6000
      done = true

  counter = setInterval(countVideoPlayTime, 1000)
  done = false

  # CONTROLS

  $("#just-lang2").click ->
    $(".lang2").slideDown()
    $(".lang1").slideUp()
    $(".lang2").attr("class", "wide-lyrics-container lang2")

  $("#lang1-and-lang2").click ->
    $(".lang1").slideDown()
    $(".lang2").slideDown()
    $(".lang1").attr("class", "narrow-lyrics-container lang1")
    $(".lang2").attr("class", "narrow-lyrics-container lang2")

  $("#just-lang1").click ->
    $(".lang1").slideDown()
    $(".lang2").slideUp()
    $(".lang1").attr("class", "wide-lyrics-container lang1")

  $('#black').click ->
    $('.lyrics').each(->
      $(this).attr('class','lyrics black'))

  $('#white').click ->
    $('.lyrics').each(->
      $(this).attr('class','lyrics white'))

  $('#video-top').click ->
    $('#lyrics').attr('style','top: 10px;')

  $('#video-bottom').click ->
    $('#lyrics').attr('style','top: 260px;')

  # TWEET BUTTON

  not ((d, s, id) ->
    js = undefined
    fjs = d.getElementsByTagName(s)[0]
    unless d.getElementById(id)
      js = d.createElement(s)
      js.id = id
      js.src = "//platform.twitter.com/widgets.js"
      fjs.parentNode.insertBefore js, fjs
  ) document, "script", "twitter-wjs"

  # LIKE BUTTON

  ((d, s, id) ->
    js = undefined
    fjs = d.getElementsByTagName(s)[0]
    return  if d.getElementById(id)
    js = d.createElement(s)
    js.id = id
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"
    fjs.parentNode.insertBefore js, fjs
  ) document, "script", "facebook-jssdk"