$ ->

  $('#results-box').hide()
  window.n = 0

  $('#ask-youtube').autocomplete(
    source: (request, response) ->
      $.ajax(
        url: 
          if window.n < 5
            "http://gdata.youtube.com/feeds/api/videos?q=#{request.term}&max-results=6&v=2"
          else
            "http://gdata.youtube.com/feeds/api/videos?q=#{request.term}&max-results=#{window.n}&v=2"
        dataType: "xml",
        complete: (r) ->
          parser = new DOMParser
          xml = parser.parseFromString(r.responseText, "application/xml")
          window.xml = xml
          entries = xml.getElementsByTagName("entry")
          results = []
          window.results = []
          for e in entries
            item = ( label : e.getElementsByTagName("title")[0].textContent, value : (e.getElementsByTagName("id")[0].textContent).substr(e.getElementsByTagName("id")[0].textContent.length - 11) )
            results.push item
          $('#results-box').html('').show()
          for r in results
            $('#results-box').append("
              <div class='video-thumb-box result-thumb-box'>
                <strong class='center'>#{r.label.slice(0,32)}</strong>
                <img alt='video_#{r.label}' src='http://img.youtube.com/vi/#{r.value}/1.jpg' />
              </div> ")
          $('#ask-youtube').autocomplete('close')
          response(results, (item) ->
            e.preventDefault()
            label: item.label
            value: item.value 
            false
            )
          )
    focus: (event, ui) ->
      $('#ask-youtube').val(ui.item.label)
      if window.n < 49
        window.n += 1
      console.log window.n
      if window.n > 4
        console.log "Search!"
        $('#ask-youtube').autocomplete("search")
      false
    select: (e, ui) ->
      e.preventDefault()
      window.youtube_id = ui.item.value
      window.title = ui.item.label
      $('#new-translation-button').attr('style','height: 85px; background-color: blue;')

      $('#new-translation-button').html("
        <div class='button-text-wrapper'>
          <p class='index-button-text'>#{window.title}</p>
        </div>
        <div id='lang1-button'>
          <div class='button-text-wrapper'>
            <p class='index-button-text' style='font-size: 15px'>The video\'s original language is...</p>
            <div class='ui-widget'>
              <input id='lang1-input-translate' class='lang1-input short-text-box'/>
            </div>
          </div>
        </div>")
      $('.index-button-text').hide().slideDown('2000')
      )

  availableTags = [ "English", "Dutch", "Afrikaans"
    "Chinese (Mandarin)", "Cantonese", "Japanese", "Korean"
    "Vietnamese", "Thai", "Burmese", "Filipino", "Tagalog", "Hmong", "Khmer", "Lao" 
    "French", "Spanish", "Portuguese", "Italian", "Catalan", "Romanian", "Albanian"
    "Russian", "Polish", "Czech"
    "German", "Greek"
    "Welsh"
    "Norwegian", "Swedish", "Danish", "Finnish", "Icelandic"
    "Hebrew", "Arabic", "Persian", "Pashto", "Turkish"
    "Hindi", "Bengali", "Gujarati", "Punjabi", "Sindhi", "Urdu", "Marathi"
    "Telugu", "Tamil", "Malayalam", "Sinhala"
    "Latin"
    "Swahili", "Yoruba", "Xhosa", "Somali", "Amharic"
    "Javanese", "Malay", "Indonesian"
    "Kazakh", "Tajik", "Tibetan", "Uyghur", "Uzbek" ]

  availableTags.sort (a,b) ->
    return if a >= b then 1 else -1

  $('.lang1-input').livequery ->
    $('.lang1-input').autocomplete(
      source: (request, response) ->
        matches = $.map(availableTags, (tag) ->
          tag  if tag.toUpperCase().indexOf(request.term.toUpperCase()) is 0)
        response matches
      messages: {
        noResults: '',
        results: '' }
      minLength: 0 )

  $('.lang2-input').livequery ->
    $('.lang2-input').autocomplete(
      source: (request, response) ->
        matches = $.map(availableTags, (tag) ->
          tag  if tag.toUpperCase().indexOf(request.term.toUpperCase()) is 0)
        response matches
      messages: {
        noResults: '',
        results: '' }
      minLength: 0 )

  $('.lang1-input').livequery ->
    $(this).keyup (e) ->
      e.preventDefault
      if e.which == 13
        input = $(this).val()
        if availableTags.indexOf(input) > -1

        # ADD NEW VIDEO TO DATABASE HERE

          window.lang1 = input
          $.post('/new_video', { 'video' : { 'youtube_id' : "#{window.youtube_id}", 'title' : "#{window.title}", 'lang1' : "#{window.lang1}" } }, (data) ->
            console.log data
            window.video_id = data.video.id )

        # PROMPT USER TO ENTER LANG2

          $('#lang1-button').hide()
          $('#lang1-button').html("
              <div class='button-text-wrapper'>
                <p class='index-button-text smaller' style='font-size: 15px'>I want to translate this video into...</p>
                  <div class='ui-widget'>
                    <input class='lang2-input short-text-box'/>
                  </div>
                </div>")
          $('#lang1-button').slideDown()


  $('.lang2-input').livequery ->
    $(this).keyup (e) ->
      e.preventDefault
      if e.which == 13

        input = $(this).val()
        if availableTags.indexOf(input) > -1

          window.lang2 = input
          if window.lang1 isnt window.lang2
            $.post('/new_interp', { 'interpretation' : { 'video_id' : "#{window.video_id}" , 'lang2' : "#{window.lang2}", 'user_id' : "#{window.user_id}" } }, (data) ->
              window.interp = data.data.id
              window.location = "/videos/new?interp=#{window.interp}" )
