$ ->

  formatTime = (time) ->
    time = Math.floor(time)
    if time <= 9 then formatted_time = "00:0" + time
    if 9 < time <= 59 then formatted_time = "00:" + time
    if 60 <= time < 540
      if time%60 <= 9 then formatted_time = "0" + Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = "0" + Math.floor((time)/60) + ":" + (time)%60
    if 540 <= time < 3600
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    formatted_time

  shortFormatTime = (time) ->
    time = Math.floor(time)
    if time <= 9 then formatted_time = ":0" + time
    if 9 < time <= 59 then formatted_time = ":" + time
    if 60 <= time < 540
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    if 540 <= time < 3600
      if time%60 <= 9 then formatted_time = Math.floor((time)/60) + ":0" + (time)%60
      if 9 < time%60 <= 59 then formatted_time = Math.floor((time)/60) + ":" + (time)%60
    formatted_time

  youtube_id = $('#data').attr('data-youtube-id')
  window.video_id = parseInt($('#data').attr('data-video-id'))
  $('#settings').attr('style','height:200px;')

  tag = document.createElement("script")
  tag.src = "https://www.youtube.com/iframe_api"
  firstScriptTag = document.getElementsByTagName("script")[0]
  firstScriptTag.parentNode.insertBefore tag, firstScriptTag

  window.section = 0 
  window.time = 0
  window.got_volume = false
  window.video_play_counter = 0

  # WE GOTTA HAVE A PLAYBACK SLIDER

  $('#settings').append("
    <div class='playback-left-label end-label'><div class='playback-left-label inner-label'></div></div>
      <div id='playback-slider'></div>
    <div class='playback-right-label end-label'><div class='playback-right-label inner-label'></div></div>
  ")

  playbackControls = (video_duration) ->
    $('.playback-left-label.inner-label').html(":00")
    $('.playback-right-label.inner-label').html("#{shortFormatTime(video_duration)}")
  
    $('#playback-slider').slider(
        min: 0,
        max: video_duration,
        value: window.time,
        step: 1
        stop: (event, ui) ->
          player.seekTo($('#playback-slider').slider("value"))
        stop: (event, ui) ->
          player.seekTo($('#playback-slider').slider("value"))
      )

  window.onYouTubeIframeAPIReady = ->
    player = new YT.Player("new-video-box", {
      height: "315"
      width: "420"
      videoId: youtube_id
      playerVars: 
        {
        controls: 0
        cc_load_policy: 1
        wmode: "opaque"
        }
      events:
        onReady: onPlayerReady
        onStateChange: onPlayerStateChange })
    console.log "Checking for cc..." + player.getOptions().indexOf('cc')
    window.player = player

  onPlayerReady = (event) ->
    video_duration = window.player.getDuration()
    window.video_duration = video_duration
    window.half_duration = video_duration * .5
    playbackControls(video_duration)
    if window.loop_length == false
      straightPlaybackBehavior()
    event.target.playVideo()

    # CONTROLS FOR LONG VIDEOS COME IN HERE    
    if video_duration > 300
      longVideoControls()

  countVideoPlayTime = ->

    # IF PLAYER IS PLAYING, UPDATE THE PLAY COUNTER
    if player.getPlayerState() == 1
      window.video_play_counter += .4
      if window.video_play_counter > window.half_duration
        $.post("/update_playcount/#{window.playcount_id}", (data) ->
          new_playcount = data.play_count
          console.log new_playcount
          $('#video-play-counter').html(new_playcount)
        )
        window.video_play_counter = 0

    # UI RESPONDS AS VIDEO PLAYS
    exact_time = player.getCurrentTime()
    window.time = Math.floor(exact_time)
    
    # PLAYBACK SLIDER MOVES HERE
    $('#playback-slider').slider("value", window.time)
    $('#playback-slider').children().html(shortFormatTime(window.time))

  counter = setInterval(countVideoPlayTime, 400)
  done = false

  onPlayerStateChange = (event) ->
    if event.data == YT.PlayerState.PAUSED
      exact_time = player.getCurrentTime()
      window.time = Math.round(exact_time)
      window.section = window.time / window.loop_length

  delayedShow = -> 
    window.player.playVideo()
  window.setTimeout(delayedShow, 1000)

  # CHECK TO SEE IF A PLAYCOUNT OBJECT EXISTS FOR THIS USER/VIDEO PAIR; IF NOT, CREATE ONE

  if window.user_id isnt null
    $.post("/find_playcount/#{window.user_id}/#{window.video_id}", (data) ->
      if data.playcount_id is 'no-playcount'
        $.post("/new_playcount/#{window.user_id}/#{window.video_id}", (data) ->
          window.playcount_id = data.playcount_id
        )
      else
        window.playcount_id = data.playcount_id
    )
  
  availableTags = [ "English", "Dutch", "Afrikaans"
    "Chinese (Mandarin)", "Cantonese", "Japanese", "Korean"
    "Vietnamese", "Thai", "Burmese", "Filipino", "Tagalog", "Hmong", "Khmer", "Lao" 
    "French", "Spanish", "Portuguese", "Italian", "Catalan", "Romanian", "Albanian"
    "Russian", "Polish", "Czech"
    "German", "Greek"
    "Welsh"
    "Norwegian", "Swedish", "Danish", "Finnish", "Icelandic"
    "Hebrew", "Arabic", "Persian", "Pashto", "Turkish"
    "Hindi", "Bengali", "Gujarati", "Punjabi", "Sindhi", "Urdu", "Marathi"
    "Telugu", "Tamil", "Malayalam", "Sinhala"
    "Latin"
    "Swahili", "Yoruba", "Xhosa", "Somali", "Amharic"
    "Javanese", "Malay", "Indonesian"
    "Kazakh", "Tajik", "Tibetan", "Uyghur", "Uzbek" ]

  availableTags.sort (a,b) ->
    return if a >= b then 1 else -1

  $('#add-new-note').click -> 
    $('.note-category').removeClass('inactive')
    $('.note-category').addClass('option')
    $('#community-notes').html('')
    $('#big-tab').toggle('width')
    $('#all').slideUp()
    $(this).attr('style','border-left: 2px solid black')

  $('.option').livequery ->
    $(this).click ->
      if $(this).attr('id') == 'vocabulary'
        $('#community-notes').html("        
          <div id='vocab-list'>
            <span id='user-name'></span>
            <div id='vocab-list'></div>
          </div>
          <br><br>
          <input type='text' id='word-input' style='width: 150px;'> 
          = <input type='text' id='definition-input' style='width: 150px;'> 
          <br><br>
          <div id='submit-new-vocab' class='btn btn-primary btn-small rounded'> Submit </div>
          <div id='done' class='btn btn-primary btn-small rounded'> Done </div>
          <br><br>
          <div id='notice-area'></div>
        ")
      if $(this).attr('id') == 'multiple-choice'
        $('#community-notes').html("        
          <li>Question: &nbsp; <input type='text' id='question-title' style='width: 250px;'> </li>
          <br>
          <li> &nbsp; <input type='text' class='mc-option' style='width: 200px;' placeholder='Option'> </li>
          <div class='new-multiple-choice-option'>
              <li> 
              &nbsp; <input type='text' class='new-multiple-choice-option' style='width: 200px;' placeholder='Click to add option' disabled=''> 
            </li>
          </div>
          <div id='submit-new-multiple-choice' class='btn btn-primary btn-small rounded'> Submit </div>
          <div id='done' class='btn btn-primary btn-small rounded'> Done </div>
          <br>
          <br>
          <div id='notice-area'></div>
        ")

  $('.new-multiple-choice-option').livequery ->
    $(this).click ->
      $(this).before("<li> &nbsp; <input type='text' class='mc-option' style='width: 200px;' placeholder='Option'> </li>")

  $('#submit-new-vocab').livequery ->
    $(this).click ->
      if window.user == 'logged-out'
        $('#notice-area').html("<p style='color: #0f82f5;'><i>Please log in to add a new vocabulary word.</i></p>")
      else
        word = $('#word-input').val()
        definition = $('#definition-input').val()
        if word isnt '' and definition isnt '' and (word isnt definition)
          $('#user-name').html("<h3>Alex's vocabulary list</h3>")
          $.post('/new_word', { 'word' : { 'video_id' : "#{window.video_id}", 'user_id' : "#{window.user_id}", 'text' : "#{word}" } }, (data) ->
            word_id = data.data.id
            $('#vocab-list').append("
              <li>#{word} = #{definition} &nbsp; <div id=#{word_id} class='btn btn-primary btn-petite rounded'> Add time </div>
              </li>
            ")
            $.post('/new_definition', { 'definition' : { 'word_id' : "#{word_id}", 'user_id' : "#{window.user_id}", 'text' : "#{definition}" } }, (data) ->
              definition_id = data.data.id
            )
          )
          $('#word-input').val('')
          $('#definition-input').val('')

  $('#submit-new-multiple-choice').livequery ->
    $(this).click ->
      if window.user == 'logged-out'
        $('#notice-area').html("<p style='color: #0f82f5;'><i>Please log in to add a new vocabulary word.</i></p>")
      else
        challenge = $('#question-title').val()
        options = $('.mc-option')
        $.post('/new_challenge', { 'challenge' : { 'video_id' : "#{window.video_id}", 'user_id' : "#{window.user_id}", 'question_text' : "#{challenge}" } }, (data) ->
          challenge_id = data.data.id
          console.log "challenge = #{data.data.question_text}"
          options.each(->
            $.post('/new_option', { 'option' : { 'challenge_id' : "#{challenge_id}", 'answer_text' : "#{$(this).val()}" } }, (data) ->
              console.log "option = #{data.data.answer_text}"
            )
          )
        )

  $('#add-tag').click ->
    if window.user == 'logged-out'
       $('#vocab-area').html("<p style='color: #0f82f5;'>Please log in to add a new vocab word.</p>")
    else
      $('#user-input')

  $('#new-tag').livequery -> 
    $('#new-tag').autocomplete(
      source: (request, response) ->
        matches = $.map(availableTags, (tag) ->
          tag  if tag.toUpperCase().indexOf(request.term.toUpperCase()) is 0)
        response matches
      minLength: 2
    )

  $('#submit-new-tag').livequery ->
    $(this).click ->
      console.log "Trigger"
      new_tag = $('#new-tag').val()
      console.log new_tag
      $('#tags-list').append(", #{new_tag}")

  $('#done').livequery ->
    $(this).click -> 
      $('#user-input').html('')
      $('#community-notes').slideDown()

  $('#star').click ->
    $(this).replaceWith("<i class='icon icon-star icon-2x' id='star-full' style='position: absolute; top: 10px; right: 10px; color: #0f82f5;'> </i>")
