$ ->

  $(".language-index-option").click (e) =>
    language_option = e.currentTarget.id
    $(".video-thumb-box.interp").hide()
    $(".video-thumb-box.interp.#{language_option}").show()

  $(".language-request-option").click (e) =>
    language_option = e.currentTarget.id
    $(".video-thumb-box.request").hide()
    $(".video-thumb-box.request.#{language_option}").show()

  availableTags = [ "English", "Dutch", "Afrikaans"
    "Chinese (Mandarin)", "Cantonese", "Japanese", "Korean"
    "Vietnamese", "Thai", "Burmese", "Filipino", "Tagalog", "Hmong", "Khmer", "Lao" 
    "French", "Spanish", "Portuguese", "Italian", "Catalan", "Romanian",
    "Russian", "Polish", "Czech"
    "German", "Greek"
    "Norwegian", "Swedish", "Danish", "Finnish", "Icelandic"
    "Hebrew", "Arabic", "Persian", "Pashto", "Turkish"
    "Hindi", "Bengali", "Gujarati", "Punjabi", "Sindhi", "Urdu", "Marathi"
    "Telugu", "Tamil", "Malayalam", "Sinhala"
    "Sanskrit", "Latin"
    "Swahili", "Yoruba", "Xhosa", "Somali", "Amharic"
    "Javanese", "Malay", "Indonesian"
    "Kazakh", "Tajik", "Tibetan", "Uyghur", "Uzbek" ]

  availableTags.sort (a,b) ->
    return if a >= b then 1 else -1

  $('.lang1-input').livequery ->
    $('.lang1-input').autocomplete(
      source: (request, response) ->
        matches = $.map(availableTags, (tag) ->
          tag  if tag.toUpperCase().indexOf(request.term.toUpperCase()) is 0)
        response matches
      messages: {
        noResults: '',
        results: '' }
      minLength: 0 )

  $('.lang2-input').livequery ->
    $('.lang2-input').autocomplete(
      source: (request, response) ->
        matches = $.map(availableTags, (tag) ->
          tag  if tag.toUpperCase().indexOf(request.term.toUpperCase()) is 0)
        response matches
      messages: {
        noResults: '',
        results: '' }
      minLength: 0 )

  $('.new-video-input').keyup ->
    user_submit = $(this).val()
    window.type = $(this).attr('id')
    console.log type

    # VALIDATING THE URL AGAINST YOUTUBE SYNTAX 
    youtube_id = "#{user_submit}".replace 'http://www.youtube.com/watch?v=', ''
    youtube_id = youtube_id.replace 'https://www.youtube.com/watch?v=', ''
    window.youtube_id = "#{youtube_id}"
    if youtube_id.match(/&list/)
      youtube_id = youtube_id.slice(0,11)
      window.youtube_id = "#{youtube_id}"
    if youtube_id.match(/player_embedded/)
      youtube_id = youtube_id.replace 'http://www.youtube.com/watch?feature=player_embedded&v=', ''
      window.youtube_id = "#{youtube_id}"
    if youtube_id.match(/endscreen/)
      youtube_id = youtube_id.replace 'http://www.youtube.com/watch?feature=endscreen&NR=1&v=', ''
      window.youtube_id = "#{youtube_id}"

    if (window.keyup isnt 'done') and (user_submit.match(/youtube/) isnt null)
      window.keyup = 'done'

      if window.type is 'new-video-submit'
        $('#new-translation-button').attr('style','height: 85px; background-color: blue;').hide()
      if window.type is 'new-video-request'
        $('#request-translation-button').attr('style','height: 85px; background-color: blue;').hide()

      # GET TITLE FROM YOUTUBE

      getTitle = (data, type) ->
        window.title = data.entry.title.$t
        if window.type is 'new-video-submit'
          $('#request-translation-button').parent().hide()
          $('#new-translation-button').html("
            <div class='button-text-wrapper'>
              <p class='index-button-text'>#{window.title}</p>
            </div>").slideDown()
        if window.type is 'new-video-request'
          $('#request-translation-button').html("
            <div class='button-text-wrapper'>
              <p class='index-button-text'>#{window.title}</p>
            </div>").slideDown()

      getTitleFromYouTube = (handleData) ->
        $.get('https://gdata.youtube.com/feeds/api/videos/' + youtube_id + '?v=2&alt=json', 
          (data) ->
            handleData(data, window.type) )

      getTitleFromYouTube(getTitle)

      # ASK USER TO ENTER LANG1 

      if window.type is 'new-video-submit'
        $('#new-translation-button').after("
          <div class='index-button' id='lang1-button'>
            <div class='button-text-wrapper'>
              <p class='index-button-text'>The video's original language is...</p>
              <div class='ui-widget'>
                <input id='lang1-input-translate' class='lang1-input short-text-box'/>
              </div>
            </div>
          </div>")
        $('.lang1-button').hide()
        $('.lang1-button').slideDown()

      if window.type is 'new-video-request'
        $('#request-translation-button').attr('style','height: 85px; background-color: blue;')
        $('#request-translation-button').after("
          <div class='index-button' id='lang1-button'>
            <div class='button-text-wrapper'>
              <p class='index-button-text'>The video's original language is...</p>
              <div class='ui-widget'>
                <input id='lang1-input-request' class='lang1-input short-text-box'/>
              </div>
            </div>
          </div>")
        $('.lang1-button').hide()
        $('.lang1-button').slideDown()

  $('.lang1-input').livequery ->
    $(this).keyup (e) ->
      e.preventDefault
      if e.which == 13
        input = $(this).val()
        if availableTags.indexOf(input) > -1

        # ADD NEW VIDEO TO DATABASE HERE

          window.lang1 = input
          $.post('/new_video', { 'video' : { 'youtube_id' : "#{window.youtube_id}", 'title' : "#{window.title}", 'lang1' : "#{window.lang1}" } }, (data) ->
            console.log data
            window.video_id = data.video.id )

        # PROMPT USER TO ENTER LANG2

          if window.type is 'new-video-submit'
            $('#lang1-button').slideUp()
            $('#lang1-button').after("
              <br>
              <br>
              <div class='index-button' id='lang1-button'>
                <div class='button-text-wrapper'>
                  <p class='index-button-text'>I want to translate this video into...</p>
                    <div class='ui-widget'>
                      <input class='lang2-input short-text-box'/>
                    </div>
                  </div>
                </div>")

          if window.type is 'new-video-request'
            $('#lang1-button').slideUp()
            $('#lang1-button').after("
              <br>
              <br>
              <div class='index-button' id='lang1-button'>
                <div class='button-text-wrapper'>
                  <p class='index-button-text'>I want to request a translation into...</p>
                    <div class='ui-widget'>
                      <input id='lang2-input-request' class='lang2-input short-text-box'/>
                    </div>
                  </div>
                </div>")

  $('.lang2-input').livequery ->
    $(this).keyup (e) ->
      e.preventDefault
      if e.which == 13

        input = $(this).val()
        if availableTags.indexOf(input) > -1

          if window.type is 'new-video-submit'
            window.lang2 = input
            if window.lang1 isnt window.lang2
              $.post('/new_interp', { 'interpretation' : { 'video_id' : "#{window.video_id}" , 'lang2' : "#{window.lang2}", 'user_id' : "#{window.user_id}" } }, (data) ->
                window.interp = data.data.id
                window.location = "/videos/new?interp=#{window.interp}" )

          if window.type is 'new-video-request'
            window.lang2 = input
            if window.lang1 isnt window.lang2
              $.post('/new_request', { 'request' : { 'video_id' : "#{window.video_id}" , 'lang2' : "#{window.lang2}", 'user_id' : "#{window.user_id}" } }, (data) ->
                video = data.video
                console.log video
                lang2_input = $('#lang2-input-request').parent().parent().parent()
                lang2_input.html("<div class='button-text-wrapper' id='request-submitted'><p class='index-button-text'>Request submitted! (<u><span id='request-start-over'>New.</span></u>)</p></div>")
                lang2_input.attr('style','background-color: blue; height: 60px;')
                $('#requested-videos').prepend("
                  <div class='video-thumb-box #{video.lang1}'>
                  <strong class='center'> <a href='http://www.heyuvideo.com/videos/#{video.id}'>#{video.title.slice(0,38)}</a></strong>
                  <br>
                  <img src='http://img.youtube.com/vi/#{video.youtube_id}/1.jpg'>
                  </div>")
                )

  $('#request-start-over').livequery ->
    $(this).click ->
      $('#request-translation-button').html('
        <div class="button-text-wrapper">
          <p class="index-button-text">Request a<br> translation</p>
          <img alt="Youtube-logo" src="/assets/youtube-logo.png" style="float: right;" />
          <div class="controls">
            <input type="text" class="short-text-box new-video-input" id="new-video-request">
          </div>
          <p class="index-button-text tiny">Copy the URL from YouTube above.</p>
        </div>')
      $('#request-translation-button').attr('style','height: 140px; background-color: #9B59BB;')
      $('#request-submitted').parent().slideUp()

